<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.eclipse.ui.commands">
     <command
           id="org.eclipse.sirius.diagram.elk.debug.exportToElkGraph"
           name="%command.exportToElkGraph.label">
     </command>
     <command
           id="org.eclipse.sirius.diagram.elk.debug.exportToElkText"
           name="%command.exportToElkText.label">
     </command>
  </extension>
  <extension
      point="org.eclipse.ui.menus">
      <menuContribution
         allPopups="false"
         locationURI="popup:org.eclipse.ui.popup.any?after=filterFormatGroup">
      <command
            commandId="org.eclipse.sirius.diagram.elk.debug.exportToElkGraph"
            icon="icons/elkgraph.gif"
            label="%command.exportToElkGraph.label"
            style="push">
            <visibleWhen
               checkEnabled="false">
            <with
                  variable="activeMenuSelection">
               <iterate
                     operator="and">
                     <instanceof
                           value="org.eclipse.sirius.diagram.ui.edit.api.part.IDDiagramEditPart"/>
               </iterate>
            </with>
         </visibleWhen>
      </command>
      <command
            commandId="org.eclipse.sirius.diagram.elk.debug.exportToElkText"
            icon="icons/elkgraph.gif"
            label="%command.exportToElkText.label"
            style="push">
            <visibleWhen
               checkEnabled="false">
            <with
                  variable="activeMenuSelection">
               <iterate
                     operator="and">
                     <instanceof
                           value="org.eclipse.sirius.diagram.ui.edit.api.part.IDDiagramEditPart"/>
               </iterate>
            </with>
         </visibleWhen>
      </command>
   </menuContribution>
  </extension>
  <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="org.eclipse.sirius.diagram.elk.debug.ExportToElkGraphHandler$AsXmi"
           commandId="org.eclipse.sirius.diagram.elk.debug.exportToElkGraph">
        <activeWhen>
           <with
                 variable="selection">
              <iterate
                    operator="and">
                     <instanceof
                           value="org.eclipse.sirius.diagram.ui.edit.api.part.IDDiagramEditPart"/>
              </iterate>
           </with>
        </activeWhen>
     </handler>
     <handler
           class="org.eclipse.sirius.diagram.elk.debug.ExportToElkGraphHandler$AsText"
           commandId="org.eclipse.sirius.diagram.elk.debug.exportToElkText">
        <activeWhen>
           <with
                 variable="selection">
              <iterate
                    operator="and">
                     <instanceof
                           value="org.eclipse.sirius.diagram.ui.edit.api.part.IDDiagramEditPart"/>
              </iterate>
           </with>
        </activeWhen>
     </handler>
  </extension>
</plugin>
