<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.sirius.server.frontend.SiriusServerFrontendConfigurator"
         name="%SiriusServerFrontendConfigurator_label"
         point="org.eclipse.sirius.server.siriusServerConfigurator">
      <descriptor
            class="org.eclipse.sirius.server.frontend.internal.SiriusServerFrontendConfigurator"
            description="%SiriusServerFrontendConfigurator_description"
            id="org.eclipse.sirius.server.frontend.SiriusServerFrontendConfigurator"
            label="%SiriusServerFrontendConfigurator_label">
      </descriptor>
   </extension>

</plugin>
