<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.eclipse.sirius.tests.rcptt.properties.design.list.Activator"
               id="org.eclipse.sirius.tests.rcptt.properties.design.list"
	       name="PropertiesTests">
    </component>
  </extension>
</plugin>
