<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="baseline" sequenceNumber="1445259223">
  <locations>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.sirius.runtime.acceleo.feature.group" version="3.1.0.201510150803"/>
      <unit id="org.eclipse.sirius.runtime.feature.group" version="3.1.0.201510150803"/>
      <unit id="org.eclipse.sirius.runtime.ide.ui.feature.group" version="3.1.0.201510150803"/>
      <unit id="org.eclipse.sirius.runtime.ide.eef.feature.group" version="3.1.0.201510150803"/>
      <unit id="org.eclipse.sirius.runtime.ide.ui.acceleo.feature.group" version="3.1.0.201510150803"/>
      <unit id="org.eclipse.sirius.runtime.ide.xtext.feature.group" version="3.1.0.201510150803"/>
      <unit id="org.eclipse.sirius.runtime.ocl.feature.group" version="3.1.0.201510150803"/>
      <unit id="org.eclipse.sirius.specifier.ide.ui.acceleo.feature.group" version="3.1.0.201510150803"/>
      <unit id="org.eclipse.sirius.specifier.ide.ui.feature.group" version="3.1.0.201510150803"/>
      <unit id="org.eclipse.sirius.tests.support.feature.group" version="3.1.0.201510150803"/>
      <repository id="Sirius-Latest-Release" location="http://download.eclipse.org/sirius/updates/releases/3.1.0/mars"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.sirius.query.legacy.feature.feature.group" version="1.1.0.201504271341"/>
      <repository id="Sirius-legacy" location="http://download.eclipse.org/sirius/updates/legacy/1.1.0"/>
    </location>
  </locations>
</target>
