<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="sirius_canary" sequenceNumber="1624460423">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.license.feature.group" version="0.0.0"/>
      <repository id="Eclipse-Shared-License" location="https://download.eclipse.org/cbi/updates/license"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.eef.sdk.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.eef.sdk.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.eef.ext.widgets.reference.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.eef.ext.widgets.reference.feature.source.feature.group" version="0.0.0"/>
      <repository id="EEF-Latest" location="https://download.eclipse.org/modeling/emft/eef/updates/nightly/latest/neon"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.sirius.common.interpreter" version="0.0.0"/>
      <repository id="Sirius-6.5.0" location="https://download.eclipse.org/sirius/updates/releases/6.5.0/2020-06/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.platform.ide" version="0.0.0"/>
      <unit id="org.eclipse.platform.sdk" version="0.0.0"/>
      <unit id="org.eclipse.sdk.ide" version="0.0.0"/>
      <unit id="org.eclipse.equinox.core.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.compendium.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.p2.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.p2.core.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.p2.extras.feature.feature.group" version="0.0.0"/>
      <repository id="Eclipse-Integration" location="https://download.eclipse.org/eclipse/updates/I-builds/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.apache.log4j" version="0.0.0"/>
      <unit id="org.easymock" version="0.0.0"/>
      <unit id="org.hamcrest.core" version="0.0.0"/>
      <unit id="org.hamcrest.library" version="0.0.0"/>
      <unit id="org.junit" version="4.13.0.v20200204-1500"/>
      <unit id="javax.servlet" version="0.0.0"/>
      <unit id="javax.websocket" version="0.0.0"/>
      <unit id="com.google.gson" version="0.0.0"/>
      <unit id="org.slf4j.api" version="1.7.2.v20121108-1250"/>
      <unit id="ch.qos.logback.slf4j" version="1.0.7.v201505121915"/>
      <unit id="ch.qos.logback.classic" version="1.0.7.v20121108-1250"/>
      <unit id="ch.qos.logback.core" version="1.0.7.v20121108-1250"/>
      <unit id="org.apache.xalan" version="2.7.2.v20201124-1837"/>
      <unit id="org.antlr.runtime" version="4.7.2.v20200218-0804"/>
      <unit id="org.reactivestreams" version="1.0.2.v20181120-0809"/>
      <unit id="com.graphql.java.dataloader" version="2.1.1.v20181120-0809"/>
      <unit id="com.graphql.java" version="11.0.0.v20200204-2150"/>
      <repository id="Orbit-latest-I" location="https://download.eclipse.org/tools/orbit/downloads/latest-I"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.elk.sdk.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.elk.sdk.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.elk.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.elk.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.elk.algorithms.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.elk.algorithms.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.elk.graphviz.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.elk.graphviz.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.elk.ui.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.elk.ui.feature.source.feature.group" version="0.0.0"/>
      <repository id="ELK-Nightly" location="https://download.eclipse.org/elk/updates/nightly/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.draw2d.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.gef.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.gef.sdk.feature.group" version="0.0.0"/>
      <repository id="GEF-Legacy-3.11" location="https://download.eclipse.org/tools/gef/updates/legacy/releases/4.0.0_gef-master_1952/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.swtbot.eclipse.feature.group" version="3.0.0.202006031738"/>
      <unit id="org.eclipse.swtbot.eclipse.gef.feature.group" version="3.0.0.202006031738"/>
      <unit id="org.eclipse.swtbot.feature.group" version="3.0.0.202006031738"/>
      <unit id="org.eclipse.swtbot.forms.feature.group" version="3.0.0.202006031738"/>
      <unit id="org.eclipse.swtbot.ide.feature.group" version="3.0.0.202006031738"/>
      <repository id="SWTBot-3_0" location="https://download.eclipse.org/technology/swtbot/releases/3.0.0/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.edit.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.common.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.ecore.feature.group" version="0.0.0"/>
      <repository id="EMF-Nightly" location="https://download.eclipse.org/modeling/emf/emf/builds/nightly/latest"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.uml2.sdk.feature.group" version="0.0.0"/>
      <repository id="UML2-LastSuccessful" location="https://download.eclipse.org/modeling/mdt/uml2/updates/interim/latest"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.ocl.all.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ocl.core.sdk.feature.group" version="0.0.0"/>
      <repository id="OCL-LastSuccessful" location="https://download.eclipse.org/modeling/mdt/ocl/updates/nightly/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.validation.sdk.feature.group" version="0.0.0"/>
      <repository id="EMF-Validation-LastSuccessful" location="https://ci.eclipse.org/emfservices/job/emf-validation-master/PLATFORM=oxygen,jdk=oracle-jdk8-latest,label=migration/lastSuccessfulBuild/artifact/update-site/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.workspace.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.transaction.sdk.feature.group" version="0.0.0"/>
      <repository id="EMF-Transaction-LastSuccessful" location="https://ci.eclipse.org/emfservices/job/emf-transaction-master/PLATFORM=oxygen,jdk=oracle-jdk8-latest,label=migration/lastSuccessfulBuild/artifact/update-site/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.eef.runtime-feature.feature.group" version="1.5.1.201601141612"/>
      <repository id="EEF-1.5" location="https://download.eclipse.org/modeling/emft/eef/updates/releases/1.5/R201601141612"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.acceleo.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.acceleo.ide.ui" version="0.0.0"/>
      <unit id="org.eclipse.acceleo.ui.interpreter.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.acceleo.ui.interpreter.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.acceleo.query.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.acceleo.query.source.feature.group" version="0.0.0"/>
      <unit id="org.antlr.runtime" version="4.7.2.v20200218-0804"/>
      <repository id="Acceleo-3.7" location="https://download.eclipse.org/acceleo/updates/releases/3.7/R202002210922/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.compare.feature.group" version="0.0.0"/>
      <repository id="EMF-Compare-Nightly" location="https://download.eclipse.org/modeling/emf/compare/updates/nightly/latest/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.gmf.runtime.notation.sdk.feature.group" version="0.0.0"/>
      <repository id="GMF-Notation-LastSuccessful" location="https://ci.eclipse.org/gmf-runtime/job/gmf-notation-master/PLATFORM=photon,jdk=oracle-jdk8-latest,label=migration/lastSuccessfulBuild/artifact/update-site/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="0.0.0"/>
      <repository id="GMF-Runtime-1.14.0rc1" location="https://download.eclipse.org/modeling/gmp/gmf-runtime/updates/milestones/S202104161416/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.xtext.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xtend.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xpand.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.mwe.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="0.0.0"/>
      <repository id="XText-Latest" location="https://download.eclipse.org/modeling/tmf/xtext/updates/composite/latest/"/>
    </location>
  </locations>
</target>
