<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="sirius_2020-12" sequenceNumber="1616147583">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.apache.log4j" version="0.0.0"/>
      <unit id="org.easymock" version="0.0.0"/>
      <unit id="org.hamcrest.core" version="0.0.0"/>
      <unit id="org.hamcrest.library" version="0.0.0"/>
      <unit id="org.junit" version="4.12.0.v201504281640"/>
      <unit id="javax.servlet" version="0.0.0"/>
      <unit id="javax.websocket" version="0.0.0"/>
      <unit id="com.google.gson" version="0.0.0"/>
      <unit id="org.slf4j.api" version="1.7.2.v20121108-1250"/>
      <unit id="ch.qos.logback.slf4j" version="1.0.7.v201505121915"/>
      <unit id="ch.qos.logback.classic" version="1.0.7.v20121108-1250"/>
      <unit id="ch.qos.logback.core" version="1.0.7.v20121108-1250"/>
      <unit id="org.apache.xalan" version="2.7.1.v201005080400"/>
      <unit id="org.antlr.runtime" version="4.7.1.v20181120-0808"/>
      <unit id="org.reactivestreams" version="1.0.2.v20181120-0809"/>
      <unit id="com.graphql.java.dataloader" version="2.1.1.v20181120-0809"/>
      <unit id="com.graphql.java" version="11.0.0.v20181120-0810"/>
      <repository id="Orbit" location="https://download.eclipse.org/tools/orbit/downloads/drops/R20190602212107/repository"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.swtbot.eclipse.feature.group" version="3.0.0.202006031738"/>
      <unit id="org.eclipse.swtbot.eclipse.gef.feature.group" version="3.0.0.202006031738"/>
      <unit id="org.eclipse.swtbot.feature.group" version="3.0.0.202006031738"/>
      <unit id="org.eclipse.swtbot.forms.feature.group" version="3.0.0.202006031738"/>
      <unit id="org.eclipse.swtbot.ide.feature.group" version="3.0.0.202006031738"/>
      <repository id="SWTBot-3_0" location="https://download.eclipse.org/technology/swtbot/releases/3.0.0/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.license.feature.group" version="0.0.0"/>
      <repository id="Eclipse-Shared-License" location="http://download.eclipse.org/cbi/updates/license"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.acceleo.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.acceleo.ide.ui" version="0.0.0"/>
      <unit id="org.eclipse.acceleo.ui.interpreter.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.acceleo.ui.interpreter.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.acceleo.query.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.acceleo.query.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.acceleo.query.ui.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.acceleo.query.ui.source.feature.group" version="0.0.0"/>
      <unit id="org.antlr.runtime" version="4.7.2.v20200218-0804"/>
      <repository id="Acceleo-3.7" location="https://download.eclipse.org/acceleo/updates/releases/3.7/R202102190929"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.eef.sdk.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.eef.sdk.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.eef.ext.widgets.reference.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.eef.ext.widgets.reference.feature.source.feature.group" version="0.0.0"/>
      <repository id="EEF-2.1.5" location="https://download.eclipse.org/modeling/emft/eef/updates/releases/2.1/R202008270808"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.elk.sdk.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.elk.sdk.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.elk.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.elk.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.elk.algorithms.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.elk.algorithms.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.elk.graphviz.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.elk.graphviz.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.elk.ui.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.elk.ui.feature.source.feature.group" version="0.0.0"/>
      <repository id="ELK-0.7" location="https://download.eclipse.org/elk/updates/releases/0.7.1/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.jetty.io" version="9.4.29.v20200521"/>
      <unit id="org.eclipse.jetty.continuation" version="9.4.29.v20200521"/>
      <unit id="org.eclipse.jetty.http" version="9.4.29.v20200521"/>
      <unit id="org.eclipse.jetty.server" version="9.4.29.v20200521"/>
      <unit id="org.eclipse.jetty.servlet" version="9.4.29.v20200521"/>
      <unit id="org.eclipse.jetty.servlets" version="9.4.29.v20200521"/>
      <unit id="org.eclipse.jetty.util" version="9.4.29.v20200521"/>
      <unit id="org.eclipse.jetty.security" version="9.4.29.v20200521"/>
      <unit id="org.eclipse.jetty.websocket.servlet" version="9.4.29.v20200521"/>
      <unit id="org.eclipse.jetty.websocket.common" version="9.4.29.v20200521"/>
      <unit id="org.eclipse.jetty.websocket.server" version="9.4.29.v20200521"/>
      <unit id="org.eclipse.jetty.websocket.api" version="9.4.29.v20200521"/>
      <unit id="org.eclipse.jetty.client" version="9.4.29.v20200521"/>
      <unit id="org.eclipse.jetty.websocket.client" version="9.4.29.v20200521"/>
      <unit id="org.eclipse.jetty.xml" version="9.4.29.v20200521"/>
      <unit id="org.eclipse.jetty.websocket.javax.websocket" version="9.4.29.v20200521"/>
      <unit id="org.eclipse.jetty.websocket.javax.websocket.server" version="9.4.29.v20200521"/>
      <repository id="Jetty-9.4.29" location="https://download.eclipse.org/jetty/updates/jetty-bundles-9.x/9.4.29.v20200521/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.gmf.runtime.notation.sdk.feature.group" version="0.0.0"/>
      <repository id="GMF-Notation-1.13.0" location="http://download.eclipse.org/modeling/gmp/gmf-notation/updates/releases/R202004160913"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.gmf.runtime.thirdparty.feature.group" version="0.0.0"/>
      <repository id="GMF-Runtime-1.13.0" location="http://download.eclipse.org/modeling/gmp/gmf-runtime/updates/releases/R202004160913"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.sirius.common.interpreter" version="0.0.0"/>
      <repository id="Sirius-6.4.0" location="https://download.eclipse.org/sirius/updates/releases/6.4.0/2020-06/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="com.google.guava" version="0.0.0"/>
      <unit id="com.ibm.icu" version="0.0.0"/>
      <unit id="org.eclipse.draw2d.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.common.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.compare.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.ecore.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.edit.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.eef.runtime" version="0.0.0"/>
      <unit id="org.eclipse.emf.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.mwe.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.transaction.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.transaction.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.validation.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.workspace.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.gef.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.gef.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ocl.all.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ocl.core.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.uml2.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xpand.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xtend.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xtext.sdk.feature.group" version="0.0.0"/>
      <repository id="Eclipse-2020-12" location="https://download.eclipse.org/releases/2020-12/"/>
    </location>
  </locations>
</target>
