<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="sirius_indigo" sequenceNumber="1428238958">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="com.ibm.icu" version="4.4.2.v20110823"/>
      <unit id="org.eclipse.platform.sdk" version="3.7.2.M20120208-0800"/>
      <unit id="org.eclipse.sdk.ide" version="3.7.2.M20120208-0800"/>
      <unit id="org.eclipse.draw2d.feature.group" version="3.7.2.v20110927-2020-4617w3122212803131"/>
      <unit id="org.eclipse.draw2d.sdk.feature.group" version="3.7.2.v20110927-2020-7A7I38yF6F19G9K5A7H558C58x42"/>
      <unit id="org.eclipse.emf.feature.group" version="2.7.2.v20120130-0943"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="2.7.2.v20120130-0943"/>
      <unit id="org.eclipse.emf.edit.feature.group" version="2.7.2.v20120130-0943"/>
      <unit id="org.eclipse.emf.common.feature.group" version="2.7.0.v20120127-1122"/>
      <unit id="org.eclipse.emf.ecore.feature.group" version="2.7.1.v20120127-1122"/>
      <unit id="org.eclipse.emf.workspace.feature.group" version="1.5.1.v20110823-1800-37708s734D3C7D3CCC1"/>
      <unit id="org.eclipse.emf.transaction.feature.group" version="1.5.0.v20110502-1600-377-8s734C3E7D15D6B"/>
      <unit id="org.eclipse.emf.validation.sdk.feature.group" version="1.5.0.v20110502-1600-67O-96SGR55YJeZPedcQnghI6uFA"/>
      <unit id="org.eclipse.ocl.all.feature.group" version="3.1.2.v20120206-0606"/>
      <unit id="org.eclipse.gef.feature.group" version="3.7.2.v20110927-2020-777D381B4Bz0755B465D34242"/>
      <unit id="org.eclipse.gmf.runtime.notation.sdk.feature.group" version="1.5.0.v20110426-2159-47D08xGD6ExNBM7CIJa3CIKK9t84"/>
      <unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="1.5.0.v20110607-1200-67N09E9QnChoWswz-3wf_rz0kQ8Y"/>
      <repository location="http://download.eclipse.org/releases/indigo"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.compare.feature.group" version="2.1.2.201310031412"/>
      <repository location="http://download.eclipse.org/modeling/emf/compare/updates/releases/2.1"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.acceleo.feature.group" version="3.4.1.201309031307"/>
      <unit id="org.eclipse.acceleo.doc.feature.group" version="3.4.1.201309031307"/>
      <unit id="org.eclipse.acceleo.examples.feature.group" version="3.4.1.201309031307"/>
      <unit id="org.eclipse.acceleo.runtime.feature.group" version="3.4.1.201309031307"/>
      <unit id="org.eclipse.acceleo.sdk.feature.group" version="3.4.1.201309031307"/>
      <unit id="org.eclipse.acceleo.ui.capabilities.feature.group" version="3.4.1.201309031307"/>
      <repository location="http://download.eclipse.org/modeling/m2t/acceleo/updates/releases/3.4/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.eef.runtime" version="1.2.2.201309121245"/>
      <repository location="http://download.eclipse.org/modeling/emft/eef/updates/releases/1.2"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="com.google.guava" version="11.0.2.v201303041551"/>
      <repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20140525021250/repository/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.xtext.sdk.feature.group" version="2.2.1.v201112130541"/>
      <repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/composite/releases"/>
    </location>
  </locations>
</target>
