<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<target name="sirius_canary" sequenceNumber="1650872444">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.license.feature.group" version="0.0.0"/>
      <repository id="Eclipse-Shared-License" location="https://download.eclipse.org/cbi/updates/license"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.eef.sdk.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.eef.sdk.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.eef.ext.widgets.reference.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.eef.ext.widgets.reference.feature.source.feature.group" version="0.0.0"/>
      <repository id="EEF-Latest" location="https://download.eclipse.org/modeling/emft/eef/updates/nightly/2.1.x/2019-12/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.sirius.common.interpreter" version="0.0.0"/>
      <repository id="Sirius-7.4.12" location="https://download.eclipse.org/sirius/updates/releases/7.4.12/2023-03/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sdk.feature.group" version="0.0.0"/>
      <repository id="Eclipse-Integration" location="https://download.eclipse.org/eclipse/updates/I-builds/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.apache.log4j" version="0.0.0"/>
      <unit id="org.easymock" version="0.0.0"/>
      <unit id="org.hamcrest.core" version="0.0.0"/>
      <unit id="org.hamcrest.library" version="0.0.0"/>
      <unit id="org.junit" version="0.0.0"/>
      <unit id="slf4j.api" version="0.0.0"/>
      <repository id="Orbit-latest-I" location="https://download.eclipse.org/tools/orbit/simrel/orbit-aggregation/nightly"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.elk.sdk.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.elk.sdk.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.elk.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.elk.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.elk.algorithms.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.elk.algorithms.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.elk.graphviz.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.elk.graphviz.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.elk.ui.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.elk.ui.feature.source.feature.group" version="0.0.0"/>
      <repository id="ELK-Nightly" location="https://download.eclipse.org/elk/updates/nightly/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.draw2d.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.gef.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.gef.sdk.feature.group" version="0.0.0"/>
      <repository id="GEF-Classic" location="https://download.eclipse.org/tools/gef/classic/nightly/latest"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.swtbot.eclipse.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.swtbot.eclipse.gef.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.swtbot.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.swtbot.forms.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.swtbot.ide.feature.group" version="0.0.0"/>
      <repository id="SWTBot" location="https://download.eclipse.org/technology/swtbot/releases/latest"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.edit.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.common.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.ecore.feature.group" version="0.0.0"/>
      <repository id="EMF-Nightly" location="https://download.eclipse.org/modeling/emf/emf/builds/nightly/latest"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.uml2.sdk.feature.group" version="0.0.0"/>
      <repository id="UML2-LastSuccessful" location="https://download.eclipse.org/modeling/mdt/uml2/updates/interim/latest"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.ocl.all.sdk.feature.group" version="0.0.0"/>
      <repository id="OCL-LastSuccessful" location="https://download.eclipse.org/modeling/mdt/ocl/builds/nightly/latest"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.validation.sdk.feature.group" version="0.0.0"/>
      <repository id="EMF-Validation-Interim" location="https://download.eclipse.org/modeling/emf/validation/updates/interim"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.workspace.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.transaction.sdk.feature.group" version="0.0.0"/>
      <repository id="EMF-Transaction-Interim" location="https://download.eclipse.org/modeling/emf/transaction/updates/interim"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.acceleo.runtime.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.acceleo.ui.interpreter.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.acceleo.ui.interpreter.source.feature.group" version="0.0.0"/>
      <repository id="Acceleo-3.7" location="https://download.eclipse.org/acceleo/updates/releases/3.7/R202211151354/"/>
   </location>
   <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.acceleo.query.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.acceleo.query.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.acceleo.query.ui.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.acceleo.query.ui.source.feature.group" version="0.0.0"/>
      <unit id="org.antlr.runtime" version="0.0.0"/>
      <repository id="Acceleo-master" location="https://download.eclipse.org/acceleo/updates/nightly/latest"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.compare.feature.group" version="0.0.0"/>
      <repository id="EMF-Compare-Nightly" location="https://download.eclipse.org/modeling/emf/compare/updates/nightly/latest/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.gmf.runtime.notation.sdk.feature.group" version="0.0.0"/>
	  <repository id="GMF-Notation-I" location="https://download.eclipse.org/modeling/gmp/gmf-notation/updates/interim/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="0.0.0"/>
      <repository id="GMF-Runtime-I" location="https://download.eclipse.org/modeling/gmp/gmf-runtime/updates/interim/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.xtext.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xtend.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.mwe.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="0.0.0"/>
      <repository id="XText-Latest" location="https://download.eclipse.org/modeling/tmf/xtext/updates/composite/nightly"/>
    </location>
  </locations>

</target>
