<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="sirius_kepler" sequenceNumber="0">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.ibm.icu" version="50.1.1.v201304230130"/>
<unit id="org.eclipse.platform.feature.group" version="4.3.1.v20130911-1000"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.9.0.v20130828-0031"/>
<unit id="org.eclipse.sdk.feature.group" version="4.3.1.v20130911-1000"/>
<unit id="org.eclipse.draw2d.sdk.feature.group" version="3.9.1.201308190730"/>
<unit id="org.eclipse.emf.feature.group" version="2.9.1.v20130902-0605"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.9.1.v20130902-0605"/>
<unit id="org.eclipse.emf.edit.feature.group" version="2.9.0.v20130902-0605"/>
<unit id="org.eclipse.emf.common.feature.group" version="2.9.1.v20130827-0309"/>
<unit id="org.eclipse.emf.ecore.feature.group" version="2.9.1.v20130827-0309"/>
<unit id="org.eclipse.emf.workspace.feature.group" version="1.7.0.201306111400"/>
<unit id="org.eclipse.emf.transaction.feature.group" version="1.7.0.201306111400"/>
<unit id="org.eclipse.emf.transaction.sdk.feature.group" version="1.7.0.201306111400"/>
<unit id="org.eclipse.emf.validation.sdk.feature.group" version="1.7.0.201306111341"/>
<unit id="org.eclipse.ocl.all.feature.group" version="4.1.0.v20130909-1552"/>
<unit id="org.eclipse.ocl.core.sdk.feature.group" version="4.1.0.v20130909-1552"/>
<unit id="org.eclipse.gef.feature.group" version="3.9.1.201308190730"/>
<unit id="org.eclipse.gef.sdk.feature.group" version="3.9.1.201308190730"/>
<unit id="org.eclipse.gmf.runtime.notation.sdk.feature.group" version="1.7.0.201306101425"/>
<unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="1.7.0.201306111432"/>
<repository location="http://download.eclipse.org/releases/kepler"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.compare.feature.group" version="2.1.2.201310031412"/>
<repository location="http://download.eclipse.org/modeling/emf/compare/updates/releases/2.1"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.acceleo.feature.group" version="3.4.1.201309031307"/>
<unit id="org.eclipse.acceleo.doc.feature.group" version="3.4.1.201309031307"/>
<unit id="org.eclipse.acceleo.examples.feature.group" version="3.4.1.201309031307"/>
<unit id="org.eclipse.acceleo.runtime.feature.group" version="3.4.1.201309031307"/>
<unit id="org.eclipse.acceleo.sdk.feature.group" version="3.4.1.201309031307"/>
<unit id="org.eclipse.acceleo.ui.capabilities.feature.group" version="3.4.1.201309031307"/>
<repository location="http://download.eclipse.org/modeling/m2t/acceleo/updates/releases/3.4/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.eef.runtime" version="1.2.0.201301031409"/>
<repository location="http://download.eclipse.org/modeling/emft/eef/updates/nightly/1.2/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.google.guava" version="11.0.2.v201303041551"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/S20130914154012/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.4.3.v201309030823"/>
<repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/composite/releases"/>
</location>
</locations>
</target>
