<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="sirius_luna" sequenceNumber="0">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.ibm.icu" version="50.1.1.v201304230130"/>
<unit id="com.google.guava" version="11.0.2.v201303041551"/>
<unit id="org.eclipse.platform.feature.group" version="4.4.0.v20131212-1946"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.10.0.v20131211-1531"/>
<unit id="org.eclipse.sdk.feature.group" version="4.4.0.v20131212-1946"/>
<unit id="org.eclipse.draw2d.sdk.feature.group" version="3.10.0.201309301555"/>
<unit id="org.eclipse.emf.feature.group" version="2.10.0.v20131216-0403"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.10.0.v20131216-0403"/>
<unit id="org.eclipse.emf.edit.feature.group" version="2.10.0.v20131216-0403"/>
<unit id="org.eclipse.emf.common.feature.group" version="2.10.0.v20131209-0519"/>
<unit id="org.eclipse.emf.ecore.feature.group" version="2.10.0.v20131209-0519"/>
<unit id="org.eclipse.emf.workspace.feature.group" version="1.8.0.201312171650"/>
<unit id="org.eclipse.emf.transaction.feature.group" version="1.8.0.201312171650"/>
<unit id="org.eclipse.emf.transaction.sdk.feature.group" version="1.8.0.201312171650"/>
<unit id="org.eclipse.emf.validation.sdk.feature.group" version="1.8.0.201312171634"/>
<unit id="org.eclipse.ocl.all.feature.group" version="4.2.0.v20130921-0708"/>
<unit id="org.eclipse.ocl.core.sdk.feature.group" version="4.2.0.v20130921-0708"/>
<unit id="org.eclipse.gef.feature.group" version="3.10.0.201309301555"/>
<unit id="org.eclipse.gef.sdk.feature.group" version="3.10.0.201309301555"/>
<unit id="org.eclipse.gmf.runtime.notation.sdk.feature.group" version="1.8.0.201312171620"/>
<unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="1.8.0.201312171742"/>
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.5.0.v201312110906"/>
<unit id="org.eclipse.emf.compare.feature.group" version="2.2.0.201312170800"/>
<unit id="org.eclipse.acceleo.feature.group" version="3.5.0.201312161520"/>
<unit id="org.eclipse.acceleo.ide.ui" version="3.5.0.201312161520"/>
<unit id="org.eclipse.emf.eef.runtime" version="1.2.0.201301111054"/>
<repository location="http://download.eclipse.org/releases/luna"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.nebula.widgets.paperclips.feature.feature.group" version="2.0.0.201309241436"/>
<repository location="http://download.eclipse.org/sirius/targetplatform/0.9.0/all/nebula/N201309241436"/>
</location>
</locations>
</target>
