<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="sirius_mars" sequenceNumber="1432718960">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.apache.log4j" version="1.2.15.v201012070815"/>
      <unit id="org.easymock" version="2.4.0.v20090202-0900"/>
      <unit id="org.hamcrest.core" version="1.3.0.v201303031735"/>
      <unit id="org.hamcrest.library" version="1.3.0.v201305281000"/>
      <unit id="org.junit" version="4.11.0.v201303080030"/>
      <repository id="Orbit" location="http://download.eclipse.org/tools/orbit/downloads/drops/R20140525021250/repository/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.1.1.201307101628"/>
      <unit id="org.eclipse.swtbot.eclipse.gef.feature.group" version="2.1.1.201307101628"/>
      <unit id="org.eclipse.swtbot.eclipse.test.junit.feature.group" version="2.1.1.201307101628"/>
      <unit id="org.eclipse.swtbot.feature.group" version="2.1.1.201307101628"/>
      <unit id="org.eclipse.swtbot.forms.feature.group" version="2.1.1.201307101628"/>
      <unit id="org.eclipse.swtbot.ide.feature.group" version="2.1.1.201307101628"/>
      <repository id="SWTBot-2_1" location="http://download.eclipse.org/technology/swtbot/releases/2.1.1/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.license.feature.group" version="0.0.0"/>
      <repository id="Eclipse-Shared-License" location="http://download.eclipse.org/cbi/updates/license"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.acceleo.query.feature.group" version="0.0.0"/>
      <unit id="org.antlr.runtime" version="4.3.0.v201502022030"/>
      <repository id="Acceleo-3.6" location="http://download.eclipse.org/acceleo/updates/milestones/3.6/S201505261509"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="com.google.guava" version="15.0.0.v201403281430"/>
      <unit id="com.ibm.icu" version="54.1.1.v201501272100"/>
      <unit id="org.eclipse.acceleo.feature.group" version="3.6.0.201505131324"/>
      <unit id="org.eclipse.acceleo.ide.ui" version="3.6.0.201505131324"/>
      <unit id="org.eclipse.draw2d.sdk.feature.group" version="3.10.0.201505170205"/>
      <unit id="org.eclipse.emf.common.feature.group" version="2.11.0.v20150512-0501"/>
      <unit id="org.eclipse.emf.compare.feature.group" version="3.1.0.201505180755"/>
      <unit id="org.eclipse.emf.ecore.feature.group" version="2.11.0.v20150512-0501"/>
      <unit id="org.eclipse.emf.edit.feature.group" version="2.11.0.v20150518-0831"/>
      <unit id="org.eclipse.emf.eef.runtime" version="1.5.0.201412231052"/>
      <unit id="org.eclipse.emf.feature.group" version="2.11.0.v20150518-0831"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="2.11.0.v20150518-0831"/>
      <unit id="org.eclipse.emf.transaction.feature.group" version="1.9.0.201505060251"/>
      <unit id="org.eclipse.emf.transaction.sdk.feature.group" version="1.9.0.201505060251"/>
      <unit id="org.eclipse.emf.validation.sdk.feature.group" version="1.9.0.201505060134"/>
      <unit id="org.eclipse.emf.workspace.feature.group" version="1.9.0.201505060251"/>
      <unit id="org.eclipse.equinox.sdk.feature.group" version="3.11.0.v20150514-0400"/>
      <unit id="org.eclipse.gef.feature.group" version="3.10.0.201505170205"/>
      <unit id="org.eclipse.gef.sdk.feature.group" version="3.10.0.201505170205"/>
      <unit id="org.eclipse.gmf.runtime.notation.sdk.feature.group" version="1.9.0.201505060039"/>
      <unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="1.9.0.201505060429"/>
      <unit id="org.eclipse.ocl.all.feature.group" version="5.1.0.v20150410-1135"/>
      <unit id="org.eclipse.ocl.core.sdk.feature.group" version="5.1.0.v20150410-1135"/>
      <unit id="org.eclipse.platform.feature.group" version="4.5.0.v20150514-1000"/>
      <unit id="org.eclipse.sdk.feature.group" version="4.5.0.v20150514-1000"/>
      <unit id="org.eclipse.xtext.sdk.feature.group" version="2.8.3.v201505190403"/>
      <repository id="Eclipse-Mars" location="http://download.eclipse.org/releases/mars"/>
    </location>
  </locations>
</target>
