<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="sirius_helios" sequenceNumber="1428238886">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="com.ibm.icu" version="4.2.1.v20100412"/>
      <unit id="org.eclipse.platform.sdk" version="3.6.2.M20110210-1200"/>
      <unit id="org.eclipse.sdk.ide" version="3.6.2.M20110210-1200"/>
      <unit id="org.eclipse.draw2d.feature.group" version="3.6.2.v20110128-0100-4517w3122123901211"/>
      <unit id="org.eclipse.draw2d.sdk.feature.group" version="3.6.2.v20110128-0100-7A7G38yE6F08CAO499J539958x42"/>
      <unit id="org.eclipse.emf.feature.group" version="2.6.1.v20100914-1218"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="2.6.1.v20100914-1218"/>
      <unit id="org.eclipse.emf.edit.feature.group" version="2.6.0.v20100914-1218"/>
      <unit id="org.eclipse.emf.common.feature.group" version="2.6.0.v20100914-1218"/>
      <unit id="org.eclipse.emf.ecore.feature.group" version="2.6.1.v20100914-1218"/>
      <unit id="org.eclipse.emf.workspace.feature.group" version="1.4.0.v20100428-2315-36-8s734C367E3CBC7"/>
      <unit id="org.eclipse.emf.transaction.feature.group" version="1.4.0.v20100428-2315-377-8s734C3E7D15D6B"/>
      <unit id="org.eclipse.emf.validation.sdk.feature.group" version="1.4.0.v20100428-2315-67J-96SGR35WNqZRZfmQnghI6uFA"/>
      <unit id="org.eclipse.ocl.all.feature.group" version="3.0.2.R30x_v201101181635-77-37EB3HoFvCkw5HyIBJDNGHCCG"/>
      <unit id="org.eclipse.gef.feature.group" version="3.6.2.v20110128-0100-777B381A4Bz06565376E32322"/>
      <unit id="org.eclipse.gmf.runtime.notation.sdk.feature.group" version="1.4.1.v20100909-1000-47B28xGC7DxS9Q69KFQ3AHJL9t84"/>
      <unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="1.4.2.v20110201-1000-67G49E9QYBfkXgwmVt5ksk7w9Vqi"/>
      <repository location="http://download.eclipse.org/releases/helios"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.compare.feature.group" version="2.1.2.201310031412"/>
      <repository location="http://download.eclipse.org/modeling/emf/compare/updates/releases/2.1"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.acceleo.feature.group" version="3.4.1.201309031307"/>
      <unit id="org.eclipse.acceleo.doc.feature.group" version="3.4.1.201309031307"/>
      <unit id="org.eclipse.acceleo.examples.feature.group" version="3.4.1.201309031307"/>
      <unit id="org.eclipse.acceleo.runtime.feature.group" version="3.4.1.201309031307"/>
      <unit id="org.eclipse.acceleo.sdk.feature.group" version="3.4.1.201309031307"/>
      <unit id="org.eclipse.acceleo.ui.capabilities.feature.group" version="3.4.1.201309031307"/>
      <repository location="http://download.eclipse.org/modeling/m2t/acceleo/updates/releases/3.4/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.eef.runtime" version="1.2.2.201309121245"/>
      <repository location="http://download.eclipse.org/modeling/emft/eef/updates/releases/1.2"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="com.google.guava" version="11.0.2.v201303041551"/>
      <repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20140525021250/repository/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.xtext.sdk.feature.group" version="2.1.1.v201111141332"/>
      <repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/composite/releases"/>
    </location>
  </locations>
</target>
