<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="sirius_kepler" sequenceNumber="0">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.feature.group" version="4.3.0.v20130605-2000"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.9.0.v20130604-2047"/>
<unit id="org.eclipse.sdk.feature.group" version="4.3.0.v20130605-2000"/>
<unit id="org.eclipse.draw2d.sdk.feature.group" version="3.9.0.201305060205"/>
<unit id="org.eclipse.emf.feature.group" version="2.9.0.v20130610-0406"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.9.0.v20130610-0406"/>
<unit id="org.eclipse.emf.edit.feature.group" version="2.9.0.v20130610-0406"/>
<unit id="org.eclipse.emf.common.feature.group" version="2.9.0.v20130528-0742"/>
<unit id="org.eclipse.emf.ecore.feature.group" version="2.9.0.v20130528-0742"/>
<unit id="org.eclipse.emf.workspace.feature.group" version="1.7.0.201306111400"/>
<unit id="org.eclipse.emf.transaction.feature.group" version="1.7.0.201306111400"/>
<unit id="org.eclipse.emf.transaction.sdk.feature.group" version="1.7.0.201306111400"/>
<unit id="org.eclipse.emf.validation.sdk.feature.group" version="1.7.0.201306111341"/>
<unit id="org.eclipse.ocl.all.feature.group" version="4.1.0.v20130610-1317"/>
<unit id="org.eclipse.ocl.core.sdk.feature.group" version="4.1.0.v20130610-1317"/>
<unit id="org.eclipse.gef.feature.group" version="3.9.0.201305060205"/>
<unit id="org.eclipse.gef.sdk.feature.group" version="3.9.0.201305060205"/>
<unit id="org.eclipse.gmf.runtime.notation.sdk.feature.group" version="1.7.0.201306101425"/>
<unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="1.7.0.201306111432"/>
<repository location="http://download.eclipse.org/releases/kepler"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.compare.feature.group" version="2.1.0.201306250935"/>
<repository location="http://download.eclipse.org/modeling/emf/compare/updates/releases/2.1"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.acceleo.feature.group" version="3.4.0.201306101458"/>
<unit id="org.eclipse.acceleo.doc.feature.group" version="3.4.0.201306101458"/>
<unit id="org.eclipse.acceleo.examples.feature.group" version="3.4.0.201306101458"/>
<unit id="org.eclipse.acceleo.runtime.feature.group" version="3.4.0.201306101458"/>
<unit id="org.eclipse.acceleo.sdk.feature.group" version="3.4.0.201306101458"/>
<unit id="org.eclipse.acceleo.ui.capabilities.feature.group" version="3.4.0.201306101458"/>
<repository location="http://download.eclipse.org/modeling/m2t/acceleo/updates/releases/3.4/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.eef.runtime" version="1.2.0.201301031409"/>
<repository location="http://download.eclipse.org/modeling/emft/eef/updates/nightly/1.2/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/I20130827062727/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.nebula.widgets.paperclips.feature.feature.group" version="2.0.0.201307092147"/>
<repository location="http://download.eclipse.org/technology/nebula/snapshot/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.4.3.v201309030823"/>
<unit id="org.apache.commons.cli" version="1.2.0.v201105210650"/>
<unit id="org.apache.commons.lang" version="2.6.0.v201205030909"/>
<repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/composite/releases"/>
</location>
</locations>
</target>
