<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.sirius.diagram.elk.layout.extension" name="layoutExtension" schema="schema/org.eclipse.sirius.diagram.elk.layout.extension.exsd"/>
    <extension
       point="org.eclipse.elk.core.service.layoutConnectors">
    <setup
          class="org.eclipse.sirius.diagram.elk.ElkSiriusLayoutSetup">
    </setup>
 </extension>
  <extension
       point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
    <editpolicyProvider
          class="org.eclipse.sirius.diagram.elk.LayoutEditPolicyProvider">
       <Priority
             name="Lowest">
       </Priority>
    </editpolicyProvider>
 </extension>
  <extension
        point="org.eclipse.sirius.diagram.ui.customLayoutAlgorithmProvider">
     <customLayoutProvider
           class="org.eclipse.sirius.diagram.elk.ELKAlgorithmProvider">
     </customLayoutProvider>
  </extension>
</plugin>
