<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!-- Start of user code plugin.xml start specifics  -->
<!--
    Copyright (c) 2018 Obeo.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v2.0
    which accompanies this distribution, and is available at
    https://www.eclipse.org/legal/epl-2.0/

    Contributors:
       Obeo - initial API and implementation

-->

<plugin>
 <!-- End of user code plugin.xml start specifics  -->
  
  <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
    <propertySections contributorId="org.eclipse.sirius.editor.editorPlugin.SiriusEditorContributor">
      <!--
  	  <propertySection
               class="org.eclipse.sirius.workflow.model.editor.properties.sections.workflow.activitydescription.ActivityDescriptionImagePathPropertySection"
               id="workflow.section.activityDescription.ImagePath"
               filter="org.eclipse.sirius.workflow.model.editor.properties.filters.workflow.activitydescription.ActivityDescriptionImagePathFilter"
               afterSection="description.section.documentedElement.Documentation"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.workflow.ActivityDescription"/>
      </propertySection>
      -->
  	  <propertySection
               class="org.eclipse.sirius.workflow.model.editor.properties.sections.workflow.activitydescription.ActivityDescriptionLabelExpressionPropertySection"
               id="workflow.section.activityDescription.LabelExpression"
               filter="org.eclipse.sirius.workflow.model.editor.properties.filters.workflow.activitydescription.ActivityDescriptionLabelExpressionFilter"
               afterSection="description.section.identifiedElement.Name"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.workflow.ActivityDescription"/>
      </propertySection>
      <!--
  	  <propertySection
               class="org.eclipse.sirius.workflow.model.editor.properties.sections.workflow.sectiondescription.SectionDescriptionImagePathPropertySection"
               id="workflow.section.sectionDescription.ImagePath"
               filter="org.eclipse.sirius.workflow.model.editor.properties.filters.workflow.sectiondescription.SectionDescriptionImagePathFilter"
               afterSection="description.section.documentedElement.Documentation"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.workflow.SectionDescription"/>
      </propertySection>
  	  <propertySection
               class="org.eclipse.sirius.workflow.model.editor.properties.sections.workflow.sectiondescription.SectionDescriptionDescriptionExpressionPropertySection"
               id="workflow.section.sectionDescription.DescriptionExpression"
               filter="org.eclipse.sirius.workflow.model.editor.properties.filters.workflow.sectiondescription.SectionDescriptionDescriptionExpressionFilter"
               afterSection="workflow.section.sectionDescription.TitleExpression"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.workflow.SectionDescription"/>
      </propertySection>
      -->
  	  <propertySection
               class="org.eclipse.sirius.workflow.model.editor.properties.sections.workflow.sectiondescription.SectionDescriptionTitleExpressionPropertySection"
               id="workflow.section.sectionDescription.TitleExpression"
               filter="org.eclipse.sirius.workflow.model.editor.properties.filters.workflow.sectiondescription.SectionDescriptionTitleExpressionFilter"
               afterSection="description.section.identifiedElement.Name"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.workflow.SectionDescription"/>
      </propertySection>
      <!--
  	  <propertySection
               class="org.eclipse.sirius.workflow.model.editor.properties.sections.workflow.pagedescription.PageDescriptionImagePathPropertySection"
               id="workflow.section.pageDescription.ImagePath"
               filter="org.eclipse.sirius.workflow.model.editor.properties.filters.workflow.pagedescription.PageDescriptionImagePathFilter"
               afterSection="description.section.documentedElement.Documentation"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.workflow.PageDescription"/>
      </propertySection>
  	  <propertySection
               class="org.eclipse.sirius.workflow.model.editor.properties.sections.workflow.pagedescription.PageDescriptionDescriptionExpressionPropertySection"
               id="workflow.section.pageDescription.DescriptionExpression"
               filter="org.eclipse.sirius.workflow.model.editor.properties.filters.workflow.pagedescription.PageDescriptionDescriptionExpressionFilter"
               afterSection="workflow.section.pageDescription.TitleExpression"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.workflow.PageDescription"/>
      </propertySection>
      -->
  	  <propertySection
               class="org.eclipse.sirius.workflow.model.editor.properties.sections.workflow.pagedescription.PageDescriptionTitleExpressionPropertySection"
               id="workflow.section.pageDescription.TitleExpression"
               filter="org.eclipse.sirius.workflow.model.editor.properties.filters.workflow.pagedescription.PageDescriptionTitleExpressionFilter"
               afterSection="description.section.identifiedElement.Name"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.workflow.PageDescription"/>
      </propertySection>
  	<!-- Start of user code propertySections of org.eclipse.sirius.editor.editorPlugin.SiriusEditorContributor  -->
  	
  	<!-- End of user code propertySections of org.eclipse.sirius.editor.editorPlugin.SiriusEditorContributor  -->
    </propertySections>
  </extension>

<!-- Start of user code plugin.xml end specifics  -->

  <extension point="org.eclipse.help.contexts">
     <contexts file="help/contexts.xml" plugin="org.eclipse.sirius.workflow">
     </contexts>
  </extension>
  
</plugin>    
<!-- End of user code plugin.xml end specifics  -->