.~lock*#
bin
target/
.repositoryMaven/
!*.target
target
class
build.acceleo
debug.log
plugins/org.eclipse.sirius.tests.swtbot/screenshots
plugins/org.eclipse.sirius.tests.junit/test.aird
plugins/org.eclipse.sirius.tests.junit/test.ecore
.DS_Store
workspace/
