<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!-- Start of user code plugin.xml start specifics  -->
<!--
  Copyright (c) 2009, 2025 THALES GLOBAL SERVICES
  This program and the accompanying materials
  are made available under the terms of the Eclipse Public License 2.0
  which accompanies this distribution, and is available at
  https://www.eclipse.org/legal/epl-2.0/

  SPDX-License-Identifier: EPL-2.0

  Contributors:
       Obeo - Initial API and implementation
-->

<plugin>
 <!-- End of user code plugin.xml start specifics  -->
  
  <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
    <propertySections contributorId="org.eclipse.sirius.editor.editorPlugin.SiriusEditorContributor">
  	  <propertySection
               class="org.eclipse.sirius.diagram.sequence.editor.properties.sections.ordering.compoundeventend.CompoundEventEndEventEndsPropertySection"
               id="ordering.section.compoundEventEnd.EventEnds"
               filter="org.eclipse.sirius.diagram.sequence.editor.properties.filters.ordering.compoundeventend.CompoundEventEndEventEndsFilter"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.diagram.sequence.ordering.CompoundEventEnd"/>
      </propertySection>
  	  <propertySection
               class="org.eclipse.sirius.diagram.sequence.editor.properties.sections.ordering.singleeventend.SingleEventEndSemanticEventPropertySection"
               id="ordering.section.singleEventEnd.SemanticEvent"
               filter="org.eclipse.sirius.diagram.sequence.editor.properties.filters.ordering.singleeventend.SingleEventEndSemanticEventFilter"
               afterSection="ordering.section.singleEventEnd.Start"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.diagram.sequence.ordering.SingleEventEnd"/>
      </propertySection>
  	  <propertySection
               class="org.eclipse.sirius.diagram.sequence.editor.properties.sections.ordering.singleeventend.SingleEventEndStartPropertySection"
               id="ordering.section.singleEventEnd.Start"
               filter="org.eclipse.sirius.diagram.sequence.editor.properties.filters.ordering.singleeventend.SingleEventEndStartFilter"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.diagram.sequence.ordering.SingleEventEnd"/>
      </propertySection>
  	  <propertySection
               class="org.eclipse.sirius.diagram.sequence.editor.properties.sections.ordering.eventend.EventEndSemanticEndPropertySection"
               id="ordering.section.eventEnd.SemanticEnd"
               filter="org.eclipse.sirius.diagram.sequence.editor.properties.filters.ordering.eventend.EventEndSemanticEndFilter"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.diagram.sequence.ordering.EventEnd"/>
      </propertySection>
  	  <propertySection
               class="org.eclipse.sirius.diagram.sequence.editor.properties.sections.ordering.eventendsordering.EventEndsOrderingEventEndsPropertySection"
               id="ordering.section.eventEndsOrdering.EventEnds"
               filter="org.eclipse.sirius.diagram.sequence.editor.properties.filters.ordering.eventendsordering.EventEndsOrderingEventEndsFilter"
               afterSection="ordering.section.eventEndsOrdering.SequenceDiagram"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.diagram.sequence.ordering.EventEndsOrdering"/>
      </propertySection>
  	  <propertySection
               class="org.eclipse.sirius.diagram.sequence.editor.properties.sections.ordering.eventendsordering.EventEndsOrderingSequenceDiagramPropertySection"
               id="ordering.section.eventEndsOrdering.SequenceDiagram"
               filter="org.eclipse.sirius.diagram.sequence.editor.properties.filters.ordering.eventendsordering.EventEndsOrderingSequenceDiagramFilter"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.diagram.sequence.ordering.EventEndsOrdering"/>
      </propertySection>
      <propertySection
               class="org.eclipse.sirius.diagram.sequence.editor.properties.sections.ordering.instancerolesordering.InstanceRolesOrderingSemanticInstanceRolesPropertySection"
               id="ordering.section.instanceRolesOrdering.SemanticInstanceRoles"
               filter="org.eclipse.sirius.diagram.sequence.editor.properties.filters.ordering.instancerolesordering.InstanceRolesOrderingSemanticInstanceRolesFilter"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.diagram.sequence.ordering.InstanceRolesOrdering"/>
      </propertySection>
  	  <propertySection
               class="org.eclipse.sirius.diagram.sequence.editor.properties.sections.tool.reordertool.ReorderToolMappingsPropertySection"
               id="tool.section.reorderTool.Mappings"
               filter="org.eclipse.sirius.diagram.sequence.editor.properties.filters.tool.reordertool.ReorderToolMappingsFilter"
               afterSection="description.section.identifiedElement.Label"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.diagram.sequence.description.tool.ReorderTool"/>
      </propertySection>
  	  <propertySection
               class="org.eclipse.sirius.diagram.sequence.editor.properties.sections.tool.instancerolereordertool.InstanceRoleReorderToolMappingsPropertySection"
               id="tool.section.instanceRoleReorderTool.Mappings"
               filter="org.eclipse.sirius.diagram.sequence.editor.properties.filters.tool.instancerolereordertool.InstanceRoleReorderToolMappingsFilter"
               afterSection="description.section.identifiedElement.Label"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.diagram.sequence.description.tool.InstanceRoleReorderTool"/>
      </propertySection>
  	  <propertySection
               class="org.eclipse.sirius.diagram.sequence.editor.properties.sections.description.framemapping.FrameMappingCenterLabelExpressionPropertySection"
               id="description.section.frameMapping.CenterLabelExpression"
               filter="org.eclipse.sirius.diagram.sequence.editor.properties.filters.description.framemapping.FrameMappingCenterLabelExpressionFilter"
               afterSection="description.section.frameMapping.CoveredLifelinesExpression"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.diagram.sequence.description.FrameMapping"/>
      </propertySection>
  	  <propertySection
               class="org.eclipse.sirius.diagram.sequence.editor.properties.sections.description.messagemapping.MessageMappingSendingEndFinderExpressionPropertySection"
               id="description.section.messageMapping.SendingEndFinderExpression"
               filter="org.eclipse.sirius.diagram.sequence.editor.properties.filters.description.messagemapping.MessageMappingSendingEndFinderExpressionFilter"
               afterSection="description.section.edgeMapping.TargetFinderExpression"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.diagram.sequence.description.MessageMapping"/>
      </propertySection>
  	  <propertySection
               class="org.eclipse.sirius.diagram.sequence.editor.properties.sections.description.delimitedeventmapping.DelimitedEventMappingStartingEndFinderExpressionPropertySection"
               id="description.section.delimitedEventMapping.StartingEndFinderExpression"
               filter="org.eclipse.sirius.diagram.sequence.editor.properties.filters.description.delimitedeventmapping.DelimitedEventMappingStartingEndFinderExpressionFilter"
               afterSection="description.section.abstractNodeMapping.DomainClass"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.diagram.sequence.description.DelimitedEventMapping"/>
      </propertySection>
	  <propertySection
               class="org.eclipse.sirius.diagram.sequence.editor.properties.sections.description.delimitedeventmapping.DelimitedEventMappingFinishingEndFinderExpressionPropertySection"
               id="description.section.delimitedEventMapping.FinishingEndFinderExpression"
               filter="org.eclipse.sirius.diagram.sequence.editor.properties.filters.description.delimitedeventmapping.DelimitedEventMappingFinishingEndFinderExpressionFilter"
               afterSection="description.section.delimitedEventMapping.StartingEndFinderExpression"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.diagram.sequence.description.DelimitedEventMapping"/>
      </propertySection>
  	  <propertySection
               class="org.eclipse.sirius.diagram.sequence.editor.properties.sections.description.messagemapping.MessageMappingReceivingEndFinderExpressionPropertySection"
               id="description.section.messageMapping.ReceivingEndFinderExpression"
               filter="org.eclipse.sirius.diagram.sequence.editor.properties.filters.description.messagemapping.MessageMappingReceivingEndFinderExpressionFilter"
               afterSection="description.section.messageMapping.SendingEndFinderExpression"              
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.diagram.sequence.description.MessageMapping"/>
      </propertySection>
  	  <propertySection
               class="org.eclipse.sirius.diagram.sequence.editor.properties.sections.description.basicmessagemapping.BasicMessageMappingObliquePropertySection"
               id="description.section.basicMessageMapping.Oblique"
               filter="org.eclipse.sirius.diagram.sequence.editor.properties.filters.description.basicmessagemapping.BasicMessageMappingObliqueFilter"
               afterSection="description.section.messageMapping.ReceivingEndFinderExpression"              
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.diagram.sequence.description.BasicMessageMapping"/>
      </propertySection>
  	  <propertySection
               class="org.eclipse.sirius.diagram.sequence.editor.properties.sections.description.returnmessagemapping.ReturnMessageMappingInvocationMessageFinderExpressionPropertySection"
               id="description.section.returnMessageMapping.InvocationMessageFinderExpression"
               filter="org.eclipse.sirius.diagram.sequence.editor.properties.filters.description.returnmessagemapping.ReturnMessageMappingInvocationMessageFinderExpressionFilter"
               afterSection="description.section.messageMapping.ReceivingEndFinderExpression"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.diagram.sequence.description.ReturnMessageMapping"/>
      </propertySection>  
      <propertySection
               class="org.eclipse.sirius.diagram.sequence.editor.properties.sections.description.framemapping.FrameMappingCoveredLifelinesExpressionPropertySection"
               id="description.section.frameMapping.CoveredLifelinesExpression"
               filter="org.eclipse.sirius.diagram.sequence.editor.properties.filters.description.framemapping.FrameMappingCoveredLifelinesExpressionFilter"
               afterSection="description.section.delimitedEventMapping.FinishingEndFinderExpression"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.diagram.sequence.description.FrameMapping"/>
      </propertySection>  
  	  <propertySection
               class="org.eclipse.sirius.diagram.sequence.editor.properties.sections.description.sequencediagramdescription.SequenceDiagramDescriptionEndsOrderingPropertySection"
               id="description.section.sequenceDiagramDescription.EndsOrdering"
               filter="org.eclipse.sirius.diagram.sequence.editor.properties.filters.description.sequencediagramdescription.SequenceDiagramDescriptionEndsOrderingFilter"
               afterSection="description.section.representationDescription.Initialisation"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.diagram.sequence.description.SequenceDiagramDescription"/>
      </propertySection>
      <propertySection
               class="org.eclipse.sirius.diagram.sequence.editor.properties.sections.description.sequencediagramdescription.SequenceDiagramDescriptionInstanceRolesOrderingPropertySection"
               id="description.section.sequenceDiagramDescription.InstanceRolesOrdering"
               filter="org.eclipse.sirius.diagram.sequence.editor.properties.filters.description.sequencediagramdescription.SequenceDiagramDescriptionInstanceRolesOrderingFilter"
               afterSection="description.section.sequenceDiagramDescription.EndsOrdering"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.diagram.sequence.description.SequenceDiagramDescription"/>
      </propertySection>
  	<!-- Start of user code propertySections of org.eclipse.sirius.editor.editorPlugin.SiriusEditorContributor  -->
  	
  	<!-- End of user code propertySections of org.eclipse.sirius.editor.editorPlugin.SiriusEditorContributor  -->
    </propertySections>
  </extension>

<!-- Start of user code plugin.xml end specifics  -->

  <extension point="org.eclipse.help.contexts">
     <contexts file="help/contexts.xml" plugin="org.eclipse.sirius.editor.sequence">
     </contexts>
  </extension>
  <extension
        point="org.eclipse.sirius.editor.menuBuilder">
     <builder
           class="org.eclipse.sirius.diagram.sequence.editor.tools.internal.menu.child.ReorderToolsMenuBuilder">
     </builder>
  </extension>
  
</plugin>    
<!-- End of user code plugin.xml end specifics  -->