<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="sirius_headless_2025-09" sequenceNumber="1760713205">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.apache.log4j" version="0.0.0"/>
      <unit id="org.easymock" version="0.0.0"/>
      <unit id="org.hamcrest.core" version="2.2.0.v20230809-1000"/>
      <unit id="org.hamcrest.library" version="2.2.0.v20230809-1000"/>
      <unit id="org.junit" version="0.0.0"/>
      <unit id="slf4j.api" version="2.0.17"/>
      <repository id="Orbit-2025-09" location="https://download.eclipse.org/tools/orbit/simrel/orbit-aggregation/2025-09"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.elk.sdk.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.elk.sdk.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.elk.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.elk.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.elk.algorithms.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.elk.algorithms.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.elk.graphviz.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.elk.graphviz.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.elk.ui.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.elk.ui.feature.source.feature.group" version="0.0.0"/>
      <repository id="ELK-0.9" location="https://download.eclipse.org/elk/updates/releases/0.9.1/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.license.feature.group" version="0.0.0"/>
      <repository id="Eclipse-Shared-License" location="https://download.eclipse.org/cbi/updates/license"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.gmf.runtime.notation.sdk.feature.group" version="0.0.0"/>
      <repository id="GMF-Notation-1.13.1" location="https://download.eclipse.org/modeling/gmp/gmf-notation/updates/releases/R202211151334"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.gmf.runtime.thirdparty.feature.group" version="0.0.0"/>
      <repository id="GMF-Runtime-1.16.7" location="https://download.eclipse.org/modeling/gmp/gmf-runtime/updates/releases/R202508120942"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.gef.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.gef.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.draw2d.sdk.feature.group" version="0.0.0"/>
      <repository id="GEF-Classic" location="https://download.eclipse.org/tools/gef/classic/release/3.24.0"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.acceleo.query.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.acceleo.query.source.feature.group" version="0.0.0"/>
      <unit id="org.antlr.antlr4-runtime" version="0.0.0"/>
      <repository id="Acceleo_4.2_AQL_8.1" location="https://download.eclipse.org/acceleo/updates/nightly/latest/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.equinox.core.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.compendium.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.p2.core.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.p2.extras.feature.feature.group" version="0.0.0"/>
      <unit id="com.google.guava" version="0.0.0"/>
      <unit id="org.eclipse.emf" version="0.0.0"/>
      <unit id="org.eclipse.emf.common" version="0.0.0"/>
      <unit id="org.eclipse.emf.ecore" version="0.0.0"/>
      <unit id="org.eclipse.emf.ecore.xmi" version="0.0.0"/>
      <unit id="org.eclipse.emf.edit" version="0.0.0"/>
      <unit id="org.eclipse.emf.workspace" version="0.0.0"/>
      <repository id="Eclipse-2025-09" location="https://download.eclipse.org/releases/2025-09/"/>
    </location>
  </locations>
</target>
