<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="sirius_headless_photon" sequenceNumber="1623006047">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.apache.log4j" version="0.0.0"/>
      <unit id="org.easymock" version="0.0.0"/>
      <unit id="org.hamcrest.core" version="0.0.0"/>
      <unit id="org.hamcrest.library" version="0.0.0"/>
      <unit id="org.junit" version="4.12.0.v201504281640"/>
      <unit id="javax.servlet" version="0.0.0"/>
      <unit id="javax.websocket" version="0.0.0"/>
      <unit id="com.google.gson" version="0.0.0"/>
      <unit id="org.slf4j.api" version="1.7.2.v20121108-1250"/>
      <unit id="ch.qos.logback.slf4j" version="1.0.7.v201505121915"/>
      <unit id="ch.qos.logback.classic" version="1.0.7.v20121108-1250"/>
      <unit id="ch.qos.logback.core" version="1.0.7.v20121108-1250"/>
      <unit id="org.apache.xalan" version="2.7.1.v201005080400"/>
      <unit id="org.antlr.runtime" version="4.7.1.v20181120-0808"/>
      <unit id="org.reactivestreams" version="1.0.2.v20181120-0809"/>
      <unit id="com.graphql.java.dataloader" version="2.1.1.v20181120-0809"/>
      <unit id="com.graphql.java" version="11.0.0.v20181120-0810"/>
      <repository id="Orbit" location="https://download.eclipse.org/tools/orbit/downloads/drops/R20190602212107/repository"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.elk.sdk.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.elk.sdk.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.elk.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.elk.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.elk.algorithms.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.elk.algorithms.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.elk.graphviz.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.elk.graphviz.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.elk.ui.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.elk.ui.feature.source.feature.group" version="0.0.0"/>
      <repository id="ELK-0.7" location="https://download.eclipse.org/elk/updates/releases/0.7.1/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.jetty.io" version="9.4.29.v20200521"/>
      <unit id="org.eclipse.jetty.continuation" version="9.4.29.v20200521"/>
      <unit id="org.eclipse.jetty.http" version="9.4.29.v20200521"/>
      <unit id="org.eclipse.jetty.server" version="9.4.29.v20200521"/>
      <unit id="org.eclipse.jetty.servlet" version="9.4.29.v20200521"/>
      <unit id="org.eclipse.jetty.servlets" version="9.4.29.v20200521"/>
      <unit id="org.eclipse.jetty.util" version="9.4.29.v20200521"/>
      <unit id="org.eclipse.jetty.security" version="9.4.29.v20200521"/>
      <unit id="org.eclipse.jetty.websocket.servlet" version="9.4.29.v20200521"/>
      <unit id="org.eclipse.jetty.websocket.common" version="9.4.29.v20200521"/>
      <unit id="org.eclipse.jetty.websocket.server" version="9.4.29.v20200521"/>
      <unit id="org.eclipse.jetty.websocket.api" version="9.4.29.v20200521"/>
      <unit id="org.eclipse.jetty.client" version="9.4.29.v20200521"/>
      <unit id="org.eclipse.jetty.websocket.client" version="9.4.29.v20200521"/>
      <unit id="org.eclipse.jetty.xml" version="9.4.29.v20200521"/>
      <unit id="org.eclipse.jetty.websocket.javax.websocket" version="9.4.29.v20200521"/>
      <unit id="org.eclipse.jetty.websocket.javax.websocket.server" version="9.4.29.v20200521"/>
      <repository id="Jetty-9.4.29" location="https://download.eclipse.org/jetty/updates/jetty-bundles-9.x/9.4.29.v20200521/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.license.feature.group" version="0.0.0"/>
      <repository id="Eclipse-Shared-License" location="https://download.eclipse.org/cbi/updates/license"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.gmf.runtime.notation.sdk.feature.group" version="0.0.0"/>
      <repository id="GMF-Notation-1.13.0" location="https://download.eclipse.org/modeling/gmp/gmf-notation/updates/releases/R202004160913"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.gmf.runtime.thirdparty.feature.group" version="0.0.0"/>
      <repository id="GMF-Runtime-1.13.0" location="https://download.eclipse.org/modeling/gmp/gmf-runtime/updates/releases/R202004160913"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.acceleo.engine" version="0.0.0"/>
      <unit id="org.eclipse.acceleo.parser" version="0.0.0"/>
      <unit id="org.eclipse.acceleo.query.feature.group" version="0.0.0"/>
      <repository id="Acceleo-3.7" location="https://download.eclipse.org/acceleo/updates/releases/3.7/R202002210922/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.equinox.core.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.compendium.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.p2.core.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.p2.extras.feature.feature.group" version="0.0.0"/>
      <unit id="com.google.guava" version="0.0.0"/>
      <unit id="org.eclipse.emf" version="0.0.0"/>
      <unit id="org.eclipse.emf.common" version="0.0.0"/>
      <unit id="org.eclipse.emf.ecore" version="0.0.0"/>
      <unit id="org.eclipse.emf.ecore.xmi" version="0.0.0"/>
      <unit id="org.eclipse.emf.edit" version="0.0.0"/>
      <unit id="org.eclipse.emf.workspace" version="0.0.0"/>
      <repository id="Eclipse-2020-06" location="https://download.eclipse.org/releases/2020-06/"/>
    </location>
  </locations>
</target>
