org_eclipse_sirius_tests_swtbot-SWTBot-Sequence.txt
org_eclipse_sirius_tests_swtbot-SWTBot.txt
org_eclipse_sirius_tests_swtbot-SWTBot-Sequence long.txt
org_eclipse_sirius_tests_swtbot-SWTBot long.txt
org_eclipse_sirius_tests_swtbot-SWTBot-Sequence unreliable.txt
org_eclipse_sirius_tests_swtbot-SWTBot unreliable.txt