<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="SiriusServerApplication"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="any"
            visible="true">
         <run
               class="org.eclipse.sirius.server.application.internal.SiriusServerApplication">
         </run>
      </application>
   </extension>

</plugin>
