<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.sirius.server.diagram.SiriusServerDiagramEndpointConfigurationProvider"
         name="%SiriusServerDiagramEndpointConfigurationProvider_label"
         point="org.eclipse.sirius.server.siriusServerEndpointConfigurationProvider">
      <descriptor
            class="org.eclipse.sirius.server.diagram.internal.SiriusServerDiagramEndpointConfigurationProvider"
            description="%SiriusServerDiagramEndpointConfigurationProvider_description"
            id="org.eclipse.sirius.server.diagram.SiriusServerDiagramEndpointConfigurationProvider"
            label="%SiriusServerDiagramEndpointConfigurationProvider_label">
      </descriptor>
   </extension>
   <extension
         id="org.eclipse.sirius.server.diagram.siriusDiagramImagePathProvider"
         name="%SiriusServerDiagramImagePathProvider_label"
         point="org.eclipse.sirius.services.diagram.siriusDiagramImagePathProvider">
      <descriptor
            class="org.eclipse.sirius.server.diagram.internal.SiriusServerDiagramImagePathProvider"
            description="%SiriusServerDiagramImagePathProvider_description"
            id="org.eclipse.sirius.server.diagram.SiriusServerDiagramImagePathProvider"
            label="%SiriusServerDiagramImagePathProvider_label">
      </descriptor>
   </extension>

</plugin>
