<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2007-2013 THALES GLOBAL SERVICES
  This program and the accompanying materials
  are made available under the terms of the Eclipse Public License 2.0
  which accompanies this distribution, and is available at
  https://www.eclipse.org/legal/epl-2.0/

  SPDX-License-Identifier: EPL-2.0

  Contributors:
       Obeo - Initial API and implementation
-->

<plugin>
   <extension point="org.eclipse.help.toc">
      <toc file="doc/toc.xml" primary="true" />
   </extension>
   
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="org.eclipse.sirius.doc.cheatSheets"
            name="Sirius">
      </category>
      <cheatsheet
            category="org.eclipse.sirius.doc.cheatSheets"
            composite="false"
            contentFile="doc/specifier/cheatsheets/CreatingViewpointSpecification.xml"
            id="org.eclipse.sirius.doc.cheatsheet.createVSP"
            name="Creating a viewpoint specification project">
      </cheatsheet>
   </extension>
</plugin>
