<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.sirius.server.siriusServerService">
      <descriptor
            class="org.eclipse.sirius.server.backend.internal.services.dashboard.SiriusServerDashboardService"
            description="%SiriusServerDashboardService_description"
            id="org.eclipse.sirius.server.dashboardService"
            label="%SiriusServerDashboardService_label">
      </descriptor>
      <descriptor
            class="org.eclipse.sirius.server.backend.internal.services.projects.SiriusServerProjectsService"
            description="%SiriusServerProjectsService_description"
            id="org.eclipse.sirius.server.projectsService"
            label="%SiriusServerProjectsService_label">
      </descriptor>
      <descriptor
            class="org.eclipse.sirius.server.backend.internal.services.activities.SiriusServerActivityExecutorService"
            description="%SiriusServerActivityExecutorService_description"
            id="org.eclipse.sirius.server.ActivityExecutorService"
            label="%SiriusServerActivityExecutorService_label">
      </descriptor>
      <descriptor
            class="org.eclipse.sirius.server.backend.internal.services.pages.SiriusServerPageService"
            description="%SiriusServerPageService_description"
            id="org.eclipse.sirius.server.PageService"
            label="%SiriusServerPageService_label">
      </descriptor>
      <descriptor
            class="org.eclipse.sirius.server.backend.internal.services.project.SiriusServerProjectService"
            description="%SiriusServerProjectService_description"
            id="org.eclipse.sirius.server.projectService"
            label="%SiriusServerProjectService_label">
      </descriptor>
   </extension>
</plugin>
