<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
  Copyright (c) 2015 OBEO
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html

  Contributors:
       Obeo - Initial API and implementation
-->

<plugin>




   <extension point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.sirius.table.ui.tools.internal.editor.DTableEditionEditor"
            contributorClass="org.eclipse.sirius.table.ui.tools.internal.editor.provider.DTableActionBarContributor"
            default="true"
            extensions="dtable"
            icon="icons/full/obj16/EditionTableDescription.gif"
            id="org.eclipse.sirius.table.ui.EditionTableEditorID"
            name="%editor.editionTable.name">
      </editor>
      <editor
            class="org.eclipse.sirius.table.ui.tools.internal.editor.DTableCrossEditor"
            contributorClass="org.eclipse.sirius.table.ui.tools.internal.editor.provider.DTableActionBarContributor"
            default="false"
            extensions="dtable"
            icon="icons/full/obj16/CrossTableDescription.gif"
            id="org.eclipse.sirius.table.ui.CrossTableEditorID"
            name="%editor.crossTable.name">
      </editor>
   </extension>
   
   
 
   
   <!-- Support for Quick Outline (Ctrl+O) in table editor -->
   
   
   
</plugin>
