<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.sirius.properties.core.descriptionConverter">
      <descriptor
            class="org.eclipse.sirius.ui.properties.ext.widgets.reference.internal.ExtReferenceDescriptionConverter"
            description="%referenceDescriptionConverter.Description"
            id="org.eclipse.sirius.ui.properties.ext.widgets.reference.descriptionConverter"
            label="%referenceDescriptionConverter.Label">
      </descriptor>
      <descriptor
            class="org.eclipse.sirius.ui.properties.ext.widgets.reference.internal.ExtReferenceDescriptionStyleConverter"
            description="%referenceDescriptionStyleConverter.Description"
            id="org.eclipse.sirius.ui.properties.ext.widgets.reference.descriptionStyleConverter"
            label="%referenceDescriptionStyleConverter.Label">
      </descriptor>
      <descriptor
            class="org.eclipse.sirius.ui.properties.ext.widgets.reference.internal.ExtReferenceDescriptionConditionalStyleConverter"
            description="%referenceDescriptionConditionalStyleConverter.Description"
            id="org.eclipse.sirius.ui.properties.ext.widgets.reference.descriptionConditionalStyleConverter"
            label="%referenceDescriptionConditionalStyleConverter.Label">
      </descriptor>
   </extension>
   <extension
         point="org.eclipse.eef.ide.ui.ext.widgets.reference.eefExtReferenceViewerFilterProvider">
      <descriptor
            class="org.eclipse.sirius.ui.properties.ext.widgets.reference.internal.EEFExtReferenceViewerFilterProvider"
            description="%viewerFilterProvider.Description"
            id="org.eclipse.sirius.ui.properties.ext.widgets.reference.viewerFilterProvider"
            label="%viewerFilterProvider.Label">
      </descriptor>
   </extension>
   <extension
         point="org.eclipse.sirius.properties.core.descriptionPreprocessor">
      <descriptor
            class="org.eclipse.sirius.ui.properties.ext.widgets.reference.internal.ExtReferenceDescriptionPreprocessor"
            description="%referenceDescriptionPreprocessor.Description"
            id="org.eclipse.sirius.ui.properties.ext.widgets.reference.descriptionPreprocessor"
            label="%referenceDescriptionPreprocessor.Label">
      </descriptor>
      <descriptor
            class="org.eclipse.sirius.ui.properties.ext.widgets.reference.internal.ExtReferenceDescriptionStylePreprocessor"
            description="%referenceDescriptionStylePreprocessor.Description"
            id="org.eclipse.sirius.ui.properties.ext.widgets.reference.descriptionStylePreprocessor"
            label="%referenceDescriptionStylePreprocessor.Label">
      </descriptor>
      <descriptor
            class="org.eclipse.sirius.ui.properties.ext.widgets.reference.internal.ExtReferenceDescriptionConditionalStylePreprocessor"
            description="%referenceDescriptionConditionalStylePreprocessor.Description"
            id="org.eclipse.sirius.ui.properties.ext.widgets.reference.descriptionConditionalStylePreprocessor"
            label="%referenceDescriptionConditionalStylePreprocessor.Label">
      </descriptor>
      <descriptor
            class="org.eclipse.sirius.ui.properties.ext.widgets.reference.internal.ExtReferenceOverrideDescriptionPreprocessor"
            description="%referenceOverrideDescriptionPreprocessor.Description"
            id="org.eclipse.sirius.ui.properties.ext.widgets.reference.overrideDescriptionPreprocessor"
            label="%referenceOverrideDescriptionPreprocessor.Label">
      </descriptor>
   </extension>

</plugin>
