<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.sirius.properties.core.descriptionConverter">
      <descriptor
            class="org.eclipse.sirius.ui.properties.ext.widgets.reference.internal.ExtReferenceDescriptionConverter"
            description="%referenceDescriptionConverter.Description"
            id="org.eclipse.sirius.ui.properties.ext.widgets.reference.descriptionConverter"
            label="%referenceDescriptionConverter.Label">
      </descriptor>
      <descriptor
            class="org.eclipse.sirius.ui.properties.ext.widgets.reference.internal.ExtReferenceDescriptionStyleConverter"
            description="%referenceDescriptionStyleConverter.Description"
            id="org.eclipse.sirius.ui.properties.ext.widgets.reference.descriptionStyleConverter"
            label="%referenceDescriptionStyleConverter.Label">
      </descriptor>
      <descriptor
            class="org.eclipse.sirius.ui.properties.ext.widgets.reference.internal.ExtReferenceDescriptionConditionalStyleConverter"
            description="%referenceDescriptionConditionalStyleConverter.Description"
            id="org.eclipse.sirius.ui.properties.ext.widgets.reference.descriptionConditionalStyleConverter"
            label="%referenceDescriptionConditionalStyleConverter.Label">
      </descriptor>
   </extension>
   <extension
         point="org.eclipse.eef.ide.ui.ext.widgets.reference.eefExtReferenceViewerFilterProvider">
      <descriptor
            class="org.eclipse.sirius.ui.properties.ext.widgets.reference.internal.EEFExtReferenceViewerFilterProvider"
            description="%viewerFilterProvider.Description"
            id="org.eclipse.sirius.ui.properties.ext.widgets.reference.viewerFilterProvider"
            label="%viewerFilterProvider.Label">
      </descriptor>
   </extension>

</plugin>
