<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2015 Obeo
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License 2.0
 which accompanies this distribution, and is available at
 https://www.eclipse.org/legal/epl-2.0/

 SPDX-License-Identifier: EPL-2.0
 
 Contributors:
    Obeo - initial API and implementation
 
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated docbook -->
      <factory
            uri="http://docbook.org/ns/docbook"
            class="org.eclipse.sirius.tests.sample.docbook.provider.DocbookItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

  <!-- EEF extensions -->
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://docbook.org/ns/docbook"
            class="org.eclipse.sirius.tests.sample.docbook.providers.DocbookEEFAdapterFactory"
            supportedTypes="org.eclipse.emf.eef.runtime.providers.PropertiesEditingProvider"/>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.eclipse.sirius.tests.sample.docbook.providers.DocbookPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>

  <!-- Tabbed properties views extension -->
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.sirius.tests.sample.docbook.properties"
            labelProvider="org.eclipse.emf.eef.runtime.ui.utils.EEFLabelProvider">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="extended">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.sirius.tests.sample.docbook.properties">
         <propertyTab
               id="Base"
               label="Base"
               category="default">
         </propertyTab>

      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.sirius.tests.sample.docbook.properties">
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.BookPropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.BookPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.Book"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.InfoPropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.InfoPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.Info"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.AuthorPropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.AuthorPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.Author"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.ChapterPropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.ChapterPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.Chapter"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.Title_PropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.Title_PropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.Title"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.ParaPropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.ParaPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.Para"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.ItemizedListPropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.ItemizedListPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.ItemizedList"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.OrderedListPropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.OrderedListPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.OrderedList"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.Sect1PropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.Sect1PropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.Sect1"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.Sect2PropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.Sect2PropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.Sect2"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.EmphasisPropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.EmphasisPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.Emphasis"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.ULinkPropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.ULinkPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.ULink"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.XRefPropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.XRefPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.XRef"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.ExamplePropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.ExamplePropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.Example"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.Sect3PropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.Sect3PropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.Sect3"
               tab="Base">
         </propertySection>
      </propertySections>
   </extension>
   
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.sirius.diagram.ui"
            labelProvider="org.eclipse.emf.eef.runtime.ui.utils.EEFLabelProvider">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="extended">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.sirius.diagram.ui">
         <propertyTab
               id="Base"
               label="Base"
               category="default">
         </propertyTab>

      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.sirius.diagram.ui">
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.BookPropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.BookPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.Book"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.InfoPropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.InfoPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.Info"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.AuthorPropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.AuthorPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.Author"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.ChapterPropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.ChapterPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.Chapter"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.Title_PropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.Title_PropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.Title"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.ParaPropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.ParaPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.Para"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.ItemizedListPropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.ItemizedListPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.ItemizedList"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.OrderedListPropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.OrderedListPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.OrderedList"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.Sect1PropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.Sect1PropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.Sect1"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.Sect2PropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.Sect2PropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.Sect2"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.EmphasisPropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.EmphasisPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.Emphasis"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.ULinkPropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.ULinkPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.ULink"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.XRefPropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.XRefPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.XRef"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.ExamplePropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.ExamplePropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.Example"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.Sect3PropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.Sect3PropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.Sect3"
               tab="Base">
         </propertySection>
      </propertySections>
   </extension>
   
      <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.sirius.tree.ui.EditorID"
            labelProvider="org.eclipse.emf.eef.runtime.ui.utils.EEFLabelProvider">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="extended">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.sirius.tree.ui.EditorID">
         <propertyTab
               id="Base"
               label="Base"
               category="default">
         </propertyTab>

      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.sirius.tree.ui.EditorID">
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.BookPropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.BookPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.Book"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.InfoPropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.InfoPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.Info"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.AuthorPropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.AuthorPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.Author"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.ChapterPropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.ChapterPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.Chapter"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.Title_PropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.Title_PropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.Title"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.ParaPropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.ParaPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.Para"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.ItemizedListPropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.ItemizedListPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.ItemizedList"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.OrderedListPropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.OrderedListPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.OrderedList"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.Sect1PropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.Sect1PropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.Sect1"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.Sect2PropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.Sect2PropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.Sect2"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.EmphasisPropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.EmphasisPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.Emphasis"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.ULinkPropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.ULinkPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.ULink"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.XRefPropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.XRefPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.XRef"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.ExamplePropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.ExamplePropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.Example"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.Sect3PropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.Sect3PropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.Sect3"
               tab="Base">
         </propertySection>
      </propertySections>
   </extension>
   
      <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.sirius.table.ui.EditorID"
            labelProvider="org.eclipse.emf.eef.runtime.ui.utils.EEFLabelProvider">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="extended">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.sirius.table.ui.EditorID">
         <propertyTab
               id="Base"
               label="Base"
               category="default">
         </propertyTab>

      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.sirius.table.ui.EditorID">
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.BookPropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.BookPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.Book"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.InfoPropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.InfoPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.Info"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.AuthorPropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.AuthorPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.Author"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.ChapterPropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.ChapterPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.Chapter"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.Title_PropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.Title_PropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.Title"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.ParaPropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.ParaPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.Para"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.ItemizedListPropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.ItemizedListPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.ItemizedList"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.OrderedListPropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.OrderedListPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.OrderedList"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.Sect1PropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.Sect1PropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.Sect1"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.Sect2PropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.Sect2PropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.Sect2"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.EmphasisPropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.EmphasisPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.Emphasis"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.ULinkPropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.ULinkPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.ULink"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.XRefPropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.XRefPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.XRef"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.ExamplePropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.ExamplePropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.Example"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.sirius.tests.sample.docbook.parts.forms.Sect3PropertiesEditionPartForm"
               filter="org.eclipse.sirius.tests.sample.docbook.providers.Sect3PropertiesEditionProvider$EditionFilter"
               id="org.eclipse.sirius.tests.sample.docbook.section.Sect3"
               tab="Base">
         </propertySection>
      </propertySections>
   </extension>
   
</plugin>
