<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.sirius.diagram.ui"
            tabDescriptorProvider="org.eclipse.sirius.ui.properties.internal.SiriusTabDescriptorProvider">
         <propertyCategory></propertyCategory>
      </propertyContributor>
   </extension>
   
   <extension point="org.eclipse.core.runtime.adapters">
      <factory adaptableType="org.eclipse.gef.GraphicalEditPart"
               class="org.eclipse.sirius.ui.properties.internal.SiriusSemanticAdapter">
         <adapter type="org.eclipse.emf.ecore.EObject" />
      </factory>
      <factory adaptableType="org.eclipse.gef.ConnectionEditPart"
               class="org.eclipse.sirius.ui.properties.internal.SiriusSemanticAdapter">
         <adapter type="org.eclipse.emf.ecore.EObject" />
      </factory>
      <factory adaptableType="org.eclipse.sirius.viewpoint.DSemanticDecorator"
               class="org.eclipse.sirius.ui.properties.internal.SiriusSemanticAdapter">
         <adapter type="org.eclipse.emf.ecore.EObject" />
      </factory>
   </extension>
</plugin>
