<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2013 THALES GLOBAL SERVICES
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html

  Contributors:
       Obeo - Initial API and implementation
-->

<plugin>

   <extension-point id="org.eclipse.sirius.eef.adapters.sectionFilters" 
   		            name="%extension-point.sectionFilters.name" 
            		schema="schema/sectionFilters.exsd"/>

   <extension point="org.eclipse.sirius.externalJavaAction">
      <javaActions id="org.eclipse.sirius.eef.actions.openPropertiesWizard"
                   actionClass="org.eclipse.sirius.eef.actions.OpenPropertiesWizardAction">
      </javaActions>
   </extension>

   <extension point="org.eclipse.help.toc">
      <toc file="doc/textile/viewpoint-eef-toc.xml" primary="false" />
   </extension>

   <extension point="org.eclipse.core.runtime.adapters">
      <factory adaptableType="org.eclipse.gef.GraphicalEditPart"
               class="org.eclipse.sirius.eef.adapters.SiriusSemanticAdapter">
         <adapter type="org.eclipse.emf.eef.runtime.api.adapters.SemanticAdapter" />
      </factory>
      <factory adaptableType="org.eclipse.gef.ConnectionEditPart"
               class="org.eclipse.sirius.eef.adapters.SiriusSemanticAdapter">
         <adapter type="org.eclipse.emf.eef.runtime.api.adapters.SemanticAdapter" />
      </factory>
      <factory adaptableType="org.eclipse.sirius.viewpoint.DSemanticDecorator"
               class="org.eclipse.sirius.eef.adapters.SiriusSemanticAdapter">
         <adapter type="org.eclipse.emf.eef.runtime.api.adapters.SemanticAdapter" />
      </factory>
   </extension>
   <extension
         point="org.eclipse.sirius.sessionManagerListener">
      <listener
            class="org.eclipse.sirius.eef.listeners.EEFSessionManagerListener">
      </listener>
   </extension>
</plugin>
