<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.sirius.server.frontend.workflow.SiriusServerFrontendConfigurator"
         name="%SiriusServerWorkflowFrontendConfigurator_label"
         point="org.eclipse.sirius.server.siriusServerConfigurator">
      <descriptor
            class="org.eclipse.sirius.server.frontend.workflow.internal.SiriusServerWorkflowFrontendConfigurator"
            description="%SiriusServerWorkflowFrontendConfigurator_description"
            id="org.eclipse.sirius.server.frontend.workflow.SiriusServerFrontendConfigurator"
            label="%SiriusServerWorkflowFrontendConfigurator_label">
      </descriptor>
   </extension>

</plugin>
