<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
 Copyright (c) 2015, 2016 Obeo
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
    Obeo - initial API and implementation
 
-->
<plugin>
   <extension-point id="descriptionConverter" name="%descriptionConverterExtensionPoint.Name" schema="schema/descriptionConverter.exsd"/>
   <extension-point id="descriptionLinkResolver" name="%descriptionLinkResolverExtensionPoint.Name" schema="schema/descriptionLinkResolver.exsd"/>
   <extension-point id="contextAdapterProvider" name="%contextAdapterProviderExtensionPoint.Name" schema="schema/contextAdapterProvider.exsd"/>
  <extension point="org.eclipse.core.runtime.adapters">
    <factory adaptableType="org.eclipse.gef.GraphicalEditPart"
             class="org.eclipse.sirius.ui.properties.internal.SiriusInputAdapter">
      <adapter type="org.eclipse.eef.core.api.InputDescriptor" />
    </factory>
    <factory adaptableType="org.eclipse.gef.ConnectionEditPart"
             class="org.eclipse.sirius.ui.properties.internal.SiriusInputAdapter">
      <adapter type="org.eclipse.eef.core.api.InputDescriptor" />
    </factory>
    <factory adaptableType="org.eclipse.sirius.viewpoint.DSemanticDecorator"
             class="org.eclipse.sirius.ui.properties.internal.SiriusInputAdapter">
      <adapter type="org.eclipse.eef.core.api.InputDescriptor" />
    </factory>
    <factory adaptableType="org.eclipse.emf.ecore.EObject"
             class="org.eclipse.sirius.ui.properties.internal.SiriusInputAdapter">
      <adapter type="org.eclipse.eef.core.api.InputDescriptor" />
    </factory>
  </extension>

  <extension
        point="org.eclipse.eef.properties.ui.eefTabDescriptorProvider">
     <descriptor
           class="org.eclipse.sirius.ui.properties.internal.tabprovider.SiriusTabDescriptorProvider"
           description="%siriusTabDescriptorProvider.Description"
           id="org.eclipse.sirius.eefTabDescriptorProvider"
           label="%siriusTabDescriptorProvider.Label">
     </descriptor>
  </extension>
  
  <extension
        point="org.eclipse.sirius.ui.siriusPropertySheetPageProvider">
     <siriusPropertySheetPageProvider
           class="org.eclipse.sirius.ui.properties.internal.EEFPropertySheetPageProvider"
           contributorId="org.eclipse.sirius.diagram.ui">
     </siriusPropertySheetPageProvider>
     <siriusPropertySheetPageProvider
           class="org.eclipse.sirius.ui.properties.internal.EEFPropertySheetPageProvider"
           contributorId="org.eclipse.sirius.table.ui.EditorID">
     </siriusPropertySheetPageProvider>
     <siriusPropertySheetPageProvider
           class="org.eclipse.sirius.ui.properties.internal.EEFPropertySheetPageProvider"
           contributorId="org.eclipse.sirius.tree.ui.EditorID">
     </siriusPropertySheetPageProvider>
     <siriusPropertySheetPageProvider
           class="org.eclipse.sirius.ui.properties.internal.EEFPropertySheetPageProvider"
           contributorId="org.eclipse.sirius.ui.tools.views.model.explorer">
     </siriusPropertySheetPageProvider>
  </extension>
  <extension
        point="org.eclipse.eef.properties.ui.eefTabDescriptorFilter">
     <descriptor
           class="org.eclipse.sirius.ui.properties.internal.filter.SiriusTabDescriptorFilter"
           description="%siriusTabDescriptorFilter.Description"
           id="org.eclipse.sirius.ui.properties.filter.default"
           label="%siriusTabDescriptorFilter.Label">
     </descriptor>
  </extension>
  <extension
        point="org.eclipse.ui.preferencePages">
     <page
           category="org.eclipse.sirius.ui.page"
           class="org.eclipse.sirius.ui.properties.internal.preferences.SiriusPropertiesViewGeneralPreferencePage"
           id="org.eclipse.sirius.ui.properties.general"
           name="%preference.page.title.org.eclipse.sirius.ui.properties.general">
     </page>
  </extension>
</plugin>
