<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!-- Start of user code plugin.xml start specifics  -->
<!--
   Copyright (c) 2015 Obeo.
   All rights reserved. This program and the accompanying materials
   are made available under the terms of the Eclipse Public License v1.0
   which accompanies this distribution, and is available at
   http://www.eclipse.org/legal/epl-v10.html

   Contributors:
      Obeo - initial API and implementation

-->

<plugin>
 <!-- End of user code plugin.xml start specifics  -->
  
  <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
    <propertySections contributorId="org.eclipse.sirius.editor.editorPlugin.SiriusEditorContributor">
  	  <propertySection
               class="org.eclipse.sirius.properties.editor.properties.sections.properties.textstyle.TextStyleFontFormatPropertySection"
               id="properties.section.textStyle.FontFormat"
               filter="org.eclipse.sirius.properties.editor.properties.filters.properties.textstyle.TextStyleFontFormatFilter"
               afterSection="properties.section.textStyle.ForegroundColor"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.properties.TextStyle"/>
      </propertySection>
  	  <propertySection
               class="org.eclipse.sirius.properties.editor.properties.sections.properties.textstyle.TextStyleForegroundColorPropertySection"
               id="properties.section.textStyle.ForegroundColor"
               filter="org.eclipse.sirius.properties.editor.properties.filters.properties.textstyle.TextStyleForegroundColorFilter"
               afterSection="properties.section.textStyle.BackgroundColor"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.properties.TextStyle"/>
      </propertySection>
  	  <propertySection
               class="org.eclipse.sirius.properties.editor.properties.sections.properties.textstyle.TextStyleBackgroundColorPropertySection"
               id="properties.section.textStyle.BackgroundColor"
               filter="org.eclipse.sirius.properties.editor.properties.filters.properties.textstyle.TextStyleBackgroundColorFilter"
               afterSection="properties.section.textStyle.FontSize"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.properties.TextStyle"/>
      </propertySection>
  	  <propertySection
               class="org.eclipse.sirius.properties.editor.properties.sections.properties.textstyle.TextStyleFontSizePropertySection"
               id="properties.section.textStyle.FontSize"
               filter="org.eclipse.sirius.properties.editor.properties.filters.properties.textstyle.TextStyleFontSizeFilter"
               afterSection="properties.section.textStyle.FontNameExpression"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.properties.TextStyle"/>
      </propertySection>
  	  <propertySection
               class="org.eclipse.sirius.properties.editor.properties.sections.properties.textstyle.TextStyleFontNameExpressionPropertySection"
               id="properties.section.textStyle.FontNameExpression"
               filter="org.eclipse.sirius.properties.editor.properties.filters.properties.textstyle.TextStyleFontNameExpressionFilter"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.properties.TextStyle"/>
      </propertySection>
  	  <propertySection
               class="org.eclipse.sirius.properties.editor.properties.sections.properties.customoperation.CustomOperationIdentifierPropertySection"
               id="properties.section.customOperation.Identifier"
               filter="org.eclipse.sirius.properties.editor.properties.filters.properties.customoperation.CustomOperationIdentifierFilter"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.properties.CustomOperation"/>
      </propertySection>
  	  <propertySection
               class="org.eclipse.sirius.properties.editor.properties.sections.properties.customexpression.CustomExpressionCustomExpressionPropertySection"
               id="properties.section.customExpression.CustomExpression"
               filter="org.eclipse.sirius.properties.editor.properties.filters.properties.customexpression.CustomExpressionCustomExpressionFilter"
               afterSection="properties.section.customExpression.Identifier"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.properties.CustomExpression"/>
      </propertySection>
  	  <propertySection
               class="org.eclipse.sirius.properties.editor.properties.sections.properties.customexpression.CustomExpressionIdentifierPropertySection"
               id="properties.section.customExpression.Identifier"
               filter="org.eclipse.sirius.properties.editor.properties.filters.properties.customexpression.CustomExpressionIdentifierFilter"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.properties.CustomExpression"/>
      </propertySection>
  	  <propertySection
               class="org.eclipse.sirius.properties.editor.properties.sections.properties.multiplereferencesdescription.MultipleReferencesDescriptionDisplayExpressionPropertySection"
               id="properties.section.multipleReferencesDescription.DisplayExpression"
               filter="org.eclipse.sirius.properties.editor.properties.filters.properties.multiplereferencesdescription.MultipleReferencesDescriptionDisplayExpressionFilter"
               afterSection="properties.section.multipleReferencesDescription.ValueExpression"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.properties.MultipleReferencesDescription"/>
      </propertySection>
  	  <propertySection
               class="org.eclipse.sirius.properties.editor.properties.sections.properties.multiplereferencesdescription.MultipleReferencesDescriptionValueExpressionPropertySection"
               id="properties.section.multipleReferencesDescription.ValueExpression"
               filter="org.eclipse.sirius.properties.editor.properties.filters.properties.multiplereferencesdescription.MultipleReferencesDescriptionValueExpressionFilter"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.properties.MultipleReferencesDescription"/>
      </propertySection>
  	  <propertySection
               class="org.eclipse.sirius.properties.editor.properties.sections.properties.singlereferencedescription.SingleReferenceDescriptionDisplayExpressionPropertySection"
               id="properties.section.singleReferenceDescription.DisplayExpression"
               filter="org.eclipse.sirius.properties.editor.properties.filters.properties.singlereferencedescription.SingleReferenceDescriptionDisplayExpressionFilter"
               afterSection="properties.section.singleReferenceDescription.ValueExpression"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.properties.SingleReferenceDescription"/>
      </propertySection>
  	  <propertySection
               class="org.eclipse.sirius.properties.editor.properties.sections.properties.singlereferencedescription.SingleReferenceDescriptionValueExpressionPropertySection"
               id="properties.section.singleReferenceDescription.ValueExpression"
               filter="org.eclipse.sirius.properties.editor.properties.filters.properties.singlereferencedescription.SingleReferenceDescriptionValueExpressionFilter"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.properties.SingleReferenceDescription"/>
      </propertySection>
  	  <propertySection
               class="org.eclipse.sirius.properties.editor.properties.sections.properties.radiodescription.RadioDescriptionCandidateDisplayExpressionPropertySection"
               id="properties.section.radioDescription.CandidateDisplayExpression"
               filter="org.eclipse.sirius.properties.editor.properties.filters.properties.radiodescription.RadioDescriptionCandidateDisplayExpressionFilter"
               afterSection="properties.section.radioDescription.CandidatesExpression"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.properties.RadioDescription"/>
      </propertySection>
  	  <propertySection
               class="org.eclipse.sirius.properties.editor.properties.sections.properties.radiodescription.RadioDescriptionCandidatesExpressionPropertySection"
               id="properties.section.radioDescription.CandidatesExpression"
               filter="org.eclipse.sirius.properties.editor.properties.filters.properties.radiodescription.RadioDescriptionCandidatesExpressionFilter"
               afterSection="properties.section.radioDescription.ValueExpression"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.properties.RadioDescription"/>
      </propertySection>
  	  <propertySection
               class="org.eclipse.sirius.properties.editor.properties.sections.properties.radiodescription.RadioDescriptionValueExpressionPropertySection"
               id="properties.section.radioDescription.ValueExpression"
               filter="org.eclipse.sirius.properties.editor.properties.filters.properties.radiodescription.RadioDescriptionValueExpressionFilter"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.properties.RadioDescription"/>
      </propertySection>
  	  <propertySection
               class="org.eclipse.sirius.properties.editor.properties.sections.properties.textareadescription.TextAreaDescriptionLineCountPropertySection"
               id="properties.section.textAreaDescription.LineCount"
               filter="org.eclipse.sirius.properties.editor.properties.filters.properties.textareadescription.TextAreaDescriptionLineCountFilter"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.properties.TextAreaDescription"/>
      </propertySection>
  	  <propertySection
               class="org.eclipse.sirius.properties.editor.properties.sections.properties.dynamicmappingif.DynamicMappingIfPredicateExpressionPropertySection"
               id="properties.section.dynamicMappingIf.PredicateExpression"
               filter="org.eclipse.sirius.properties.editor.properties.filters.properties.dynamicmappingif.DynamicMappingIfPredicateExpressionFilter"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.properties.DynamicMappingIf"/>
      </propertySection>
  	  <propertySection
               class="org.eclipse.sirius.properties.editor.properties.sections.properties.dynamicmappingfor.DynamicMappingForDomainClassExpressionPropertySection"
               id="properties.section.dynamicMappingFor.DomainClassExpression"
               filter="org.eclipse.sirius.properties.editor.properties.filters.properties.dynamicmappingfor.DynamicMappingForDomainClassExpressionFilter"
               afterSection="properties.section.dynamicMappingFor.Iterator"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.properties.DynamicMappingFor"/>
      </propertySection>
  	  <propertySection
               class="org.eclipse.sirius.properties.editor.properties.sections.properties.dynamicmappingfor.DynamicMappingForIteratorPropertySection"
               id="properties.section.dynamicMappingFor.Iterator"
               filter="org.eclipse.sirius.properties.editor.properties.filters.properties.dynamicmappingfor.DynamicMappingForIteratorFilter"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.properties.DynamicMappingFor"/>
      </propertySection>
  	  <propertySection
               class="org.eclipse.sirius.properties.editor.properties.sections.properties.selectdescription.SelectDescriptionCandidateDisplayExpressionPropertySection"
               id="properties.section.selectDescription.CandidateDisplayExpression"
               filter="org.eclipse.sirius.properties.editor.properties.filters.properties.selectdescription.SelectDescriptionCandidateDisplayExpressionFilter"
               afterSection="properties.section.selectDescription.CandidatesExpression"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.properties.SelectDescription"/>
      </propertySection>
  	  <propertySection
               class="org.eclipse.sirius.properties.editor.properties.sections.properties.selectdescription.SelectDescriptionCandidatesExpressionPropertySection"
               id="properties.section.selectDescription.CandidatesExpression"
               filter="org.eclipse.sirius.properties.editor.properties.filters.properties.selectdescription.SelectDescriptionCandidatesExpressionFilter"
               afterSection="properties.section.selectDescription.ValueExpression"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.properties.SelectDescription"/>
      </propertySection>
  	  <propertySection
               class="org.eclipse.sirius.properties.editor.properties.sections.properties.selectdescription.SelectDescriptionValueExpressionPropertySection"
               id="properties.section.selectDescription.ValueExpression"
               filter="org.eclipse.sirius.properties.editor.properties.filters.properties.selectdescription.SelectDescriptionValueExpressionFilter"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.properties.SelectDescription"/>
      </propertySection>
  	  <propertySection
               class="org.eclipse.sirius.properties.editor.properties.sections.properties.checkboxdescription.CheckboxDescriptionValueExpressionPropertySection"
               id="properties.section.checkboxDescription.ValueExpression"
               filter="org.eclipse.sirius.properties.editor.properties.filters.properties.checkboxdescription.CheckboxDescriptionValueExpressionFilter"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.properties.CheckboxDescription"/>
      </propertySection>
  	  <propertySection
               class="org.eclipse.sirius.properties.editor.properties.sections.properties.labeldescription.LabelDescriptionBodyExpressionPropertySection"
               id="properties.section.labelDescription.BodyExpression"
               filter="org.eclipse.sirius.properties.editor.properties.filters.properties.labeldescription.LabelDescriptionBodyExpressionFilter"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.properties.LabelDescription"/>
      </propertySection>
  	  <propertySection
               class="org.eclipse.sirius.properties.editor.properties.sections.properties.buttondescription.ButtonDescriptionButtonLabelExpressionPropertySection"
               id="properties.section.buttonDescription.ButtonLabelExpression"
               filter="org.eclipse.sirius.properties.editor.properties.filters.properties.buttondescription.ButtonDescriptionButtonLabelExpressionFilter"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.properties.ButtonDescription"/>
      </propertySection>
  	  <propertySection
               class="org.eclipse.sirius.properties.editor.properties.sections.properties.textdescription.TextDescriptionValueExpressionPropertySection"
               id="properties.section.textDescription.ValueExpression"
               filter="org.eclipse.sirius.properties.editor.properties.filters.properties.textdescription.TextDescriptionValueExpressionFilter"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.properties.TextDescription"/>
      </propertySection>
  	  <propertySection
               class="org.eclipse.sirius.properties.editor.properties.sections.properties.widgetdescription.WidgetDescriptionHelpExpressionPropertySection"
               id="properties.section.widgetDescription.HelpExpression"
               filter="org.eclipse.sirius.properties.editor.properties.filters.properties.widgetdescription.WidgetDescriptionHelpExpressionFilter"
               afterSection="properties.section.widgetDescription.LabelExpression"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.properties.WidgetDescription"/>
      </propertySection>
  	  <propertySection
               class="org.eclipse.sirius.properties.editor.properties.sections.properties.widgetdescription.WidgetDescriptionLabelExpressionPropertySection"
               id="properties.section.widgetDescription.LabelExpression"
               filter="org.eclipse.sirius.properties.editor.properties.filters.properties.widgetdescription.WidgetDescriptionLabelExpressionFilter"
               afterSection="properties.section.widgetDescription.Identifier"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.properties.WidgetDescription"/>
      </propertySection>
  	  <propertySection
               class="org.eclipse.sirius.properties.editor.properties.sections.properties.widgetdescription.WidgetDescriptionIdentifierPropertySection"
               id="properties.section.widgetDescription.Identifier"
               filter="org.eclipse.sirius.properties.editor.properties.filters.properties.widgetdescription.WidgetDescriptionIdentifierFilter"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.properties.WidgetDescription"/>
      </propertySection>
  	  <propertySection
               class="org.eclipse.sirius.properties.editor.properties.sections.properties.containerdescription.ContainerDescriptionIdentifierPropertySection"
               id="properties.section.containerDescription.Identifier"
               filter="org.eclipse.sirius.properties.editor.properties.filters.properties.containerdescription.ContainerDescriptionIdentifierFilter"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.properties.ContainerDescription"/>
      </propertySection>
  	  <propertySection
               class="org.eclipse.sirius.properties.editor.properties.sections.properties.groupdescription.GroupDescriptionSemanticCandidateExpressionPropertySection"
               id="properties.section.groupDescription.SemanticCandidateExpression"
               filter="org.eclipse.sirius.properties.editor.properties.filters.properties.groupdescription.GroupDescriptionSemanticCandidateExpressionFilter"
               afterSection="properties.section.groupDescription.DomainClass"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.properties.GroupDescription"/>
      </propertySection>
  	  <propertySection
               class="org.eclipse.sirius.properties.editor.properties.sections.properties.groupdescription.GroupDescriptionDomainClassPropertySection"
               id="properties.section.groupDescription.DomainClass"
               filter="org.eclipse.sirius.properties.editor.properties.filters.properties.groupdescription.GroupDescriptionDomainClassFilter"
               afterSection="properties.section.groupDescription.LabelExpression"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.properties.GroupDescription"/>
      </propertySection>
  	  <propertySection
               class="org.eclipse.sirius.properties.editor.properties.sections.properties.groupdescription.GroupDescriptionLabelExpressionPropertySection"
               id="properties.section.groupDescription.LabelExpression"
               filter="org.eclipse.sirius.properties.editor.properties.filters.properties.groupdescription.GroupDescriptionLabelExpressionFilter"
               afterSection="properties.section.groupDescription.Identifier"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.properties.GroupDescription"/>
      </propertySection>
  	  <propertySection
               class="org.eclipse.sirius.properties.editor.properties.sections.properties.groupdescription.GroupDescriptionIdentifierPropertySection"
               id="properties.section.groupDescription.Identifier"
               filter="org.eclipse.sirius.properties.editor.properties.filters.properties.groupdescription.GroupDescriptionIdentifierFilter"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.properties.GroupDescription"/>
      </propertySection>
  	  <propertySection
               class="org.eclipse.sirius.properties.editor.properties.sections.properties.propertyvalidationrule.PropertyValidationRuleTargetsPropertySection"
               id="properties.section.propertyValidationRule.Targets"
               filter="org.eclipse.sirius.properties.editor.properties.filters.properties.propertyvalidationrule.PropertyValidationRuleTargetsFilter"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.properties.PropertyValidationRule"/>
      </propertySection>
  	  <propertySection
               class="org.eclipse.sirius.properties.editor.properties.sections.properties.pagedescription.PageDescriptionGroupsPropertySection"
               id="properties.section.pageDescription.Groups"
               filter="org.eclipse.sirius.properties.editor.properties.filters.properties.pagedescription.PageDescriptionGroupsFilter"
               afterSection="properties.section.pageDescription.SemanticCandidateExpression"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.properties.PageDescription"/>
      </propertySection>
  	  <propertySection
               class="org.eclipse.sirius.properties.editor.properties.sections.properties.pagedescription.PageDescriptionSemanticCandidateExpressionPropertySection"
               id="properties.section.pageDescription.SemanticCandidateExpression"
               filter="org.eclipse.sirius.properties.editor.properties.filters.properties.pagedescription.PageDescriptionSemanticCandidateExpressionFilter"
               afterSection="properties.section.pageDescription.DomainClass"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.properties.PageDescription"/>
      </propertySection>
  	  <propertySection
               class="org.eclipse.sirius.properties.editor.properties.sections.properties.pagedescription.PageDescriptionDomainClassPropertySection"
               id="properties.section.pageDescription.DomainClass"
               filter="org.eclipse.sirius.properties.editor.properties.filters.properties.pagedescription.PageDescriptionDomainClassFilter"
               afterSection="properties.section.pageDescription.LabelExpression"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.properties.PageDescription"/>
      </propertySection>
  	  <propertySection
               class="org.eclipse.sirius.properties.editor.properties.sections.properties.pagedescription.PageDescriptionLabelExpressionPropertySection"
               id="properties.section.pageDescription.LabelExpression"
               filter="org.eclipse.sirius.properties.editor.properties.filters.properties.pagedescription.PageDescriptionLabelExpressionFilter"
               afterSection="properties.section.pageDescription.Identifier"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.properties.PageDescription"/>
      </propertySection>
  	  <propertySection
               class="org.eclipse.sirius.properties.editor.properties.sections.properties.pagedescription.PageDescriptionIdentifierPropertySection"
               id="properties.section.pageDescription.Identifier"
               filter="org.eclipse.sirius.properties.editor.properties.filters.properties.pagedescription.PageDescriptionIdentifierFilter"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.properties.PageDescription"/>
      </propertySection>
  	  <propertySection
               class="org.eclipse.sirius.properties.editor.properties.sections.properties.viewextensiondescription.ViewExtensionDescriptionMetamodelsPropertySection"
               id="properties.section.viewExtensionDescription.Metamodels"
               filter="org.eclipse.sirius.properties.editor.properties.filters.properties.viewextensiondescription.ViewExtensionDescriptionMetamodelsFilter"
               afterSection="properties.section.viewExtensionDescription.Identifier"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.properties.ViewExtensionDescription"/>
      </propertySection>
  	  <propertySection
               class="org.eclipse.sirius.properties.editor.properties.sections.properties.viewextensiondescription.ViewExtensionDescriptionIdentifierPropertySection"
               id="properties.section.viewExtensionDescription.Identifier"
               filter="org.eclipse.sirius.properties.editor.properties.filters.properties.viewextensiondescription.ViewExtensionDescriptionIdentifierFilter"
                tab="viewpoint.tab.general">
        <input type="org.eclipse.sirius.properties.ViewExtensionDescription"/>
      </propertySection>
  	<!-- Start of user code propertySections of org.eclipse.sirius.editor.editorPlugin.SiriusEditorContributor  -->
  	
  	<!-- End of user code propertySections of org.eclipse.sirius.editor.editorPlugin.SiriusEditorContributor  -->
    </propertySections>
  </extension>

<!-- Start of user code plugin.xml end specifics  -->

  <extension point="org.eclipse.help.contexts">
     <contexts file="help/contexts.xml" plugin="org.eclipse.sirius.properties">
     </contexts>
  </extension>
  
</plugin>    
<!-- End of user code plugin.xml end specifics  -->