<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.sirius.server.graphql.GraphQLService"
         name="%SiriusServerGraphQLService_label"
         point="org.eclipse.sirius.server.siriusServerService">
      <descriptor
            class="org.eclipse.sirius.server.graphql.internal.SiriusServerGraphQLService"
            description="%SiriusServerGraphQLService_description"
            id="org.eclipse.sirius.server.graphql.GraphQLService"
            label="%SiriusServerGraphQLService_label">
      </descriptor>
   </extension>
</plugin>
