<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2013, 2025 THALES GLOBAL SERVICES and others
  This program and the accompanying materials
  are made available under the terms of the Eclipse Public License 2.0
  which accompanies this distribution, and is available at
  https://www.eclipse.org/legal/epl-2.0/

  SPDX-License-Identifier: EPL-2.0

  Contributors:
       Obeo - Initial API and implementation
-->

<plugin>
   
    <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.acceleo.ide.ui"
            class="org.eclipse.sirius.ui.interpreter.internal.view.InterpreterView"
            icon="icons/view_icon.gif"
            id="org.eclipse.sirius.ui.interpreter.view"
            name="%InterpreterViewName"
            restorable="true">
         <description>
            %InterpreterViewDescription
         </description>
      </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.sirius.ui.interpreter.evaluateaction"
            name="%InterpreterView.actions.evaluate.label">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.sirius.ui.interpreter.evaluateaction"
            contextId="org.eclipse.sirius.ui.interpreter.interpreterview"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+D">
      </key>
   </extension>
   
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="org.eclipse.sirius.ui.interpreter.interpreterview"
            name="%InterpreterContextName"
            parentId="org.eclipse.ui.contexts.dialogAndWindow">
      </context>
   </extension>
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.sirius.ui.interpreter.internal.view.actions.InterpreterActionHandler"
            commandId="org.eclipse.sirius.ui.interpreter.evaluateaction">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.eclipse.sirius.ui.interpreter.debug.VariableViewActions"
            targetID="org.eclipse.debug.ui.VariableView">
         <action
               class="org.eclipse.sirius.ui.interpreter.internal.optional.debug.AddVariablesDebugViewActionDelegate"
               icon="icons/add_variable_action.gif"
               id="org.eclipse.sirius.ui.interpreter.debug.AddVariablesToInterpreterAction"
               label="%AddVariableToInterpreterAction.Label"
               style="push"
               toolbarPath="additions"
               tooltip="%AddVariableToInterpreterAction.Tooltip">
         </action>
      </viewContribution>
   </extension>
</plugin>
