<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
  Copyright (c) 2007, 2011 THALES GLOBAL SERVICES
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html

  Contributors:
       Obeo - Initial API and implementation
-->

<plugin>
    <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.sirius.category"
            name="%category.sirius.name"/>
      <view
            category="org.eclipse.sirius.category"
            class="org.eclipse.sirius.ui.tools.internal.views.interpreterview.DesignerInterpreterView"
            icon="icons/full/others/information.gif"
            id="org.eclipse.sirius.ui.tools.views.interpreterview"
            name="%view.legacyInterpreter.name"/>
      <view
            category="org.eclipse.sirius.category"
            class="org.eclipse.sirius.ui.tools.internal.views.modelexplorer.ModelExplorerView"
            icon="icons/full/others/ModelExplorer.gif"
            id="org.eclipse.sirius.ui.tools.views.model.explorer"
            name="%view.modelExplorer.name">
      </view>
   </extension>
   
    <extension
          point="org.eclipse.ui.perspectives">
       <perspective
             class="org.eclipse.sirius.ui.tools.internal.perspectives.DesignerModelingPerspective"
             icon="icons/full/others/ModelingPerspective.gif"
             id="org.eclipse.sirius.ui.tools.perspective.modeling"
             name="%perspective.modeling.name">
       </perspective>
    </extension>

  <extension
        point="org.eclipse.ui.preferencePages">
     <page
           class="org.eclipse.sirius.ui.tools.internal.preference.SiriusPreferencePage"
           id="org.eclipse.sirius.ui.page"
           name="%page.sirius.name">
     </page>
  </extension>

  <extension
        point="org.eclipse.ui.popupMenus">
     <objectContribution
            id="org.eclipse.sirius.ui.action.migration.representationFiles"
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.aird">
         <action
               class="org.eclipse.sirius.ui.tools.internal.actions.repair.RepresentationFilesRepairAction"
               enablesFor="1"
               icon="icons/full/others/repair.gif"
               id="org.eclipse.sirius.ui.action.migration.representationFiles"
               label="%repairActionLabel"
               menubarPath="additions">
         </action>
      </objectContribution>
  </extension>

   <extension point="org.eclipse.ui.newWizards">
	   <category id="org.eclipse.sirius.category" name="%category.sirius.name"/>
		<wizard
        category="org.eclipse.sirius.category"
        class="org.eclipse.sirius.ui.tools.internal.wizards.ModelingProjectWizard"
        finalPerspective="org.eclipse.sirius.ui.tools.perspective.modeling"
        icon="icons/obj16/ModelingProject.gif"
        id="org.eclipse.sirius.ui.modelingproject.wizard"
        name="%wizard.modelingProject.name"
        preferredPerspectives="org.eclipse.sirius.ui.tools.perspective.design"
        project="true">
     <description>
        %_UI_ModelingProjectWizard_label
     </description>
		</wizard>
  		   <!-- Session creation keeped for legacy mode -->
  		<wizard
          category="org.eclipse.sirius.category"
          class="org.eclipse.sirius.ui.tools.internal.wizards.NewSessionWizard"
          finalPerspective="org.eclipse.sirius.ui.tools.perspective.modeling"
          icon="icons/obj16/SiriusFile.gif"
          id="org.eclipse.sirius.ui.session.creation"
          name="%wizard.representationFile.name"
          preferredPerspectives="org.eclipse.sirius.ui.tools.perspective.design"
          project="false">
        <description>
        %_UI_RepresentationsFileWizard_description
     	</description>
		</wizard>
  </extension>


  <!-- Project creation -->

    
    <!-- Standard External Java Actions usable from VSMs. --> 
  
       <extension point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.ui.editors.text.TextEditor"
            default="true"
            extensions="aird"
            icon="icons/obj16/SiriusFile.gif"
            id="org.eclipse.sirius.ui.fakeeditoronlyforicon"
            name="%editor.textEditor.name">
      </editor>
   </extension>
  
    <!-- Model content tab wrapper
  <extension
        point="org.eclipse.sirius.ui.modelExplorerTabExtension">
     <modelExplorerTabExtension
           class="org.eclipse.sirius.ui.tools.internal.views.sessionview.OpenedSessionsTab"
           icon="icons/obj16/SessionResourceFile.gif"
           id="org.eclipse.sirius.ui.extension.tab.modelcontent">
     </modelExplorerTabExtension>
  </extension> 
     -->   
   <!--
      <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.eclipse.sirius.ui.business.internal.migration.logicalUriMigration"
            nameFilter="*.odesign"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.eclipse.sirius.ui.movida.menu"
               label="Movida"
               path="additions">
            <separator
                  name="group">
            </separator>
         </menu>
         <action
               class="org.eclipse.sirius.ui.business.internal.migration.MigrateToLogicalURIsAction"
               enablesFor="+"
               label="Migrate to Logical URIs"
               menubarPath="org.eclipse.sirius.ui.movida.menu/group">
         </action>
      </objectContribution>
   </extension>
  -->

	
  <extension point="org.eclipse.ui.menus">
	<menuContribution
           locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
		<command
	    	commandId="org.eclipse.sirius.ui.tools.internal.actions.nature.addRemoveNatureCommand"
	        icon="icons/obj16/ModelingProject.gif"
	        label="%command.addModelingNature.label"
	        style="push">
	        <visibleWhen
            	checkEnabled="false">
				<iterate
                	ifEmpty="false"
                    operator="and">
					<adapt
                    	type="org.eclipse.core.resources.IProject">
						<and>
						<not>
							<test
	                            property="org.eclipse.core.resources.projectNature"
	                                value="org.eclipse.sirius.nature.modelingproject">
							</test>
						</not>
							<test
                              property="org.eclipse.core.resources.open"
                              value="true">
							</test>
						</and>
					</adapt>
				</iterate>
			</visibleWhen> 
		</command>
		<command
	    	commandId="org.eclipse.sirius.ui.tools.internal.actions.nature.addRemoveNatureCommand"
	    	icon="icons/obj16/ModelingProject.gif"
	        label="%command.removeModelingNature.label"
	        style="push">
	        <visibleWhen
            	checkEnabled="false">
				<iterate
                	ifEmpty="false"
                    operator="and">
					<adapt
                    	type="org.eclipse.core.resources.IProject">
						<and>						
							<test
	                            property="org.eclipse.core.resources.projectNature"
	                                value="org.eclipse.sirius.nature.modelingproject">
							</test>						
							<test
                              property="org.eclipse.core.resources.open"
                              value="true">
							</test>
						</and>
					</adapt>
				</iterate>
			</visibleWhen> 
		</command>
	</menuContribution>
  </extension> 
		

  <extension
        point="org.eclipse.ui.popupMenus">
     <objectContribution
           id="org.eclipse.sirius.ui.action.exportRepresentationsAsImages"
           nameFilter="*.aird"
           objectClass="org.eclipse.core.resources.IFile">
        <action
              class="org.eclipse.sirius.ui.tools.internal.actions.export.ExportRepresentationsFromFileAction"
              enablesFor="1"
              icon="icons/full/others/image.gif"
              id="org.eclipse.sirius.diagram.ui.action.exportRepresentationsAsImages"
              label="%exportRepresentationsAsImagesActionLabel"
              menubarPath="group.port">
        </action>
     </objectContribution>
  </extension>
   

</plugin>
