<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2016 Obeo.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
    Obeo - initial API and implementation
 
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated NOT properties -->
      <factory
            uri="http://www.eclipse.org/sirius/properties/1.0.0"
            class="org.eclipse.sirius.properties.provider.PropertiesItemProviderAdapterFactorySpec"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated NOT properties -->
      <extender
            uri="http://www.eclipse.org/sirius/description/1.1.0"
            class="org.eclipse.sirius.properties.provider.DescriptionChildCreationExtenderSpec"/>
      <extender
            uri="http://www.eclipse.org/sirius/description/validation/1.1.0"
            class="org.eclipse.sirius.properties.provider.ValidationChildCreationExtenderSpec"/>
   </extension>

</plugin>
