<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
  Copyright (c) 2014 THALES GLOBAL SERVICES
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License 2.0
  which accompanies this distribution, and is available at
  https://www.eclipse.org/legal/epl-2.0/

  SPDX-License-Identifier: EPL-2.0

  Contributors:
       Obeo - Initial API and implementation
-->

<plugin>
   <extension point="org.eclipse.ui.preferencePages">
      <?gmfgen generated="true"?>
      <page
            id="org.eclipse.sirius.diagram.ui.general"
            name="%preference.page.title.org.eclipse.sirius.diagram.ui.general"
            class="org.eclipse.sirius.diagram.ui.internal.preferences.DiagramGeneralPreferencePage"
            category="org.eclipse.sirius.ui.page">
      </page>
      <page
            id="org.eclipse.sirius.diagram.ui.appearance"
            name="%preference.page.title.org.eclipse.sirius.diagram.ui.appearance"
            category="org.eclipse.sirius.diagram.ui.general"
            class="org.eclipse.sirius.diagram.ui.internal.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="org.eclipse.sirius.diagram.ui.connections"
            name="%preference.page.title.org.eclipse.sirius.diagram.ui.connections"
            category="org.eclipse.sirius.diagram.ui.general"
            class="org.eclipse.sirius.diagram.ui.internal.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="org.eclipse.sirius.diagram.ui.printing"
            name="%preference.page.title.org.eclipse.sirius.diagram.ui.printing"
            category="org.eclipse.sirius.diagram.ui.general"
            class="org.eclipse.sirius.diagram.ui.internal.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="org.eclipse.sirius.diagram.ui.rulersAndGrid"
            name="%preference.page.title.org.eclipse.sirius.diagram.ui.rulersAndGrid"
            category="org.eclipse.sirius.diagram.ui.general"
            class="org.eclipse.sirius.diagram.ui.internal.preferences.DiagramRulersAndGridPreferencePage">
      </page>
      <!--
      <page
            id="org.eclipse.sirius.diagram.ui.pathmaps"
            name="%preference.page.title.org.eclipse.sirius.diagram.ui.pathmaps"
            category="org.eclipse.sirius.diagram.ui.general"
            class="org.eclipse.gmf.runtime.emf.ui.preferences.PathmapsPreferencePage">
      </page>
      -->
   </extension>
</plugin>
