<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.common.ui.examples">
      <example
            wizardID="org.eclipse.sirius.tests.properties.samples.wizard">
         <projectDescriptor
               contentURI="contents/propertiestests/org.eclipse.sirius.tests.rcptt.properties.design/"
               name="org.eclipse.sirius.tests.rcptt.properties.design">
         </projectDescriptor>
         <projectDescriptor
               contentURI="contents/propertiestests/org.eclipse.sirius.tests.rcptt.properties.design.text/"
               name="org.eclipse.sirius.tests.rcptt.properties.design.text">
         </projectDescriptor>
         <projectDescriptor
               contentURI="contents/propertiestests/org.eclipse.sirius.tests.rcptt.properties.design.button/"
               name="org.eclipse.sirius.tests.rcptt.properties.design.button">
         </projectDescriptor>
         <projectDescriptor
               contentURI="contents/propertiestests/org.eclipse.sirius.tests.rcptt.properties.design.checkbox/"
               name="org.eclipse.sirius.tests.rcptt.properties.design.checkbox">
         </projectDescriptor>
         <projectDescriptor
               contentURI="contents/propertiestests/org.eclipse.sirius.tests.rcptt.properties.design.container/"
               name="org.eclipse.sirius.tests.rcptt.properties.design.container">
         </projectDescriptor>
         <projectDescriptor
               contentURI="contents/propertiestests/org.eclipse.sirius.tests.rcptt.properties.design.group/"
               name="org.eclipse.sirius.tests.rcptt.properties.design.group">
         </projectDescriptor>
         <projectDescriptor
               contentURI="contents/propertiestests/org.eclipse.sirius.tests.rcptt.properties.design.hyperlink/"
               name="org.eclipse.sirius.tests.rcptt.properties.design.hyperlink">
         </projectDescriptor>
         <projectDescriptor
               contentURI="contents/propertiestests/org.eclipse.sirius.tests.rcptt.properties.design.label/"
               name="org.eclipse.sirius.tests.rcptt.properties.design.label">
         </projectDescriptor>
         <projectDescriptor
               contentURI="contents/propertiestests/org.eclipse.sirius.tests.rcptt.properties.design.radio/"
               name="org.eclipse.sirius.tests.rcptt.properties.design.radio">
         </projectDescriptor>
         <projectDescriptor
               contentURI="contents/propertiestests/org.eclipse.sirius.tests.rcptt.properties.design.referenceext/"
               name="org.eclipse.sirius.tests.rcptt.properties.design.referenceext">
         </projectDescriptor>
         <projectDescriptor
               contentURI="contents/propertiestests/org.eclipse.sirius.tests.rcptt.properties.design.select/"
               name="org.eclipse.sirius.tests.rcptt.properties.design.select">
         </projectDescriptor>
         <projectDescriptor
               contentURI="contents/propertiestests/org.eclipse.sirius.tests.rcptt.properties.design.validation/"
               name="org.eclipse.sirius.tests.rcptt.properties.design.validation">
         </projectDescriptor>
         <projectDescriptor
               contentURI="contents/propertiestests/org.eclipse.sirius.tests.rcptt.properties.design.widget/"
               name="org.eclipse.sirius.tests.rcptt.properties.design.widget">
         </projectDescriptor>
         <projectDescriptor
               contentURI="contents/propertiestests/org.eclipse.sirius.tests.rcptt.properties.instance/"
               name="org.eclipse.sirius.tests.rcptt.properties.instance">
         </projectDescriptor>
         <projectDescriptor
               contentURI="contents/propertiestests/hyperlink-sample.design/"
               name="hyperlink-sample.design">
         </projectDescriptor>
         <projectDescriptor
               contentURI="contents/propertiestests/multilinetitle-sample.design/"
               name="multilinetitle-sample.design">
         </projectDescriptor>
		 <projectDescriptor
               contentURI="contents/propertiestests/org.eclipse.sirius.tests.rcptt.properties.design.list/"
		       name="org.eclipse.sirius.tests.rcptt.properties.design.list">
         </projectDescriptor>
      </example>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.ui.Examples/org.eclipse.sirius.tests.properties.samples.category"
            class="org.eclipse.sirius.tests.properties.samples.PropertiesTestsExampleWizard"
            finalPerspective="org.eclipse.sirius.ui.tools.perspective.modeling"
            id="org.eclipse.sirius.tests.properties.samples.wizard"
            name="Sirius Properties Tests Wizard"
            project="true">
      </wizard>
      <category
            id="org.eclipse.sirius.tests.properties.samples.category"
            name="Sirius Tests"
            parentCategory="org.eclipse.ui.Examples">
      </category>
   </extension>

</plugin>
