<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.sirius.server.images.SiriusServerImagesConfigurator"
         name="%SiriusServerImagesConfigurator_label"
         point="org.eclipse.sirius.server.siriusServerConfigurator">
      <descriptor
            class="org.eclipse.sirius.server.images.internal.SiriusServerImagesConfigurator"
            description="%SiriusServerImagesConfigurator_description"
            id="org.eclipse.sirius.server.images.SiriusServerImagesConfigurator"
            label="%SiriusServerImagesConfigurator_label">
      </descriptor>
   </extension>

</plugin>
