<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
  Copyright (c) 2007, 2013 THALES GLOBAL SERVICES
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html

  Contributors:
       Obeo - Initial API and implementation
-->

<plugin>
   <extension-point id="refreshExtensionProvider" name="viewpoint.semantic.refresh.refreshExtensionProvider" schema="schema/refreshExtensionProvider.exsd"/>
   <extension-point id="dialect" name="org.eclipse.sirius.dialect" schema="schema/dialect.exsd"/>
   <extension-point id="mmdescriptor" name="org.eclipse.sirius.mmdescriptor" schema="schema/mmdescriptor.exsd"/>
   <extension-point id="featureExtensions" name="org.eclipse.sirius.featureExtensions" schema="schema/featureExtensions.exsd"/>
   <extension-point id="componentization" name="org.eclipse.sirius.componentization" schema="schema/componentization.exsd"/>
   <extension-point id="externalJavaAction" name="%ExtPoint.externalJavaAction" schema="schema/externalJavaAction.exsd"/>
   <extension-point id="sessionManagerListener" name="org.eclipse.sirius.sessionManagerListener" schema="schema/sessionManagerListener.exsd"/>
   <extension-point id="diagramTypeProvider" name="org.eclipse.sirius.diagramTypeProvider" schema="schema/diagramTypeProvider.exsd"/>
   <extension-point id="analysisSelectorProvider" name="org.eclipse.sirius.analysisSelectorProvider" schema="schema/analysisSelectorProvider.exsd"/>
   <extension-point id="runtimeLogger" name="org.eclipse.sirius.runtimeLogger" schema="schema/runtimeLogger.exsd"/>
   <extension-point id="deleteHook" name="org.eclipse.sirius.deleteHook" schema="schema/deleteHook.exsd"/>
   <extension-point id="sessionFactory" name="org.eclipse.sirius.sessionFactory" schema="schema/sessionFactory.exsd"/>
   <extension-point id="viewpointSpecificationModel" name="org.eclipse.sirius.viewpointSpecificationModel" schema="schema/viewpointSpecificationModel.exsd"/>
   <extension-point id="viewpointResourceType" name="org.eclipse.sirius.viewpointResourceType" schema="schema/viewpointResourceType.exsd"/>
   <extension-point id="migrationParticipant" name="org.eclipse.sirius.migration" schema="schema/migrationParticipant.exsd"/>
   <extension-point id="repairParticipant" name="viewpoint.repair.repairParticipant" schema="schema/repairParticipant.exsd"/>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated viewpoint -->
      <package
            uri="http://www.eclipse.org/sirius/1.1.0"
            class="org.eclipse.sirius.viewpoint.ViewpointPackage"
            genModel="model/viewpoint.genmodel"/>
   </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/sirius/description/1.1.0" 
       class = "org.eclipse.sirius.viewpoint.description.DescriptionPackage"
       genModel = "model/viewpoint.genmodel" /> 
  </extension>
  
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/sirius/description/style/1.1.0" 
       class = "org.eclipse.sirius.viewpoint.description.style.StylePackage"
       genModel = "model/viewpoint.genmodel" /> 
  </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated viewpoint -->
      <package
            uri="http://www.eclipse.org/sirius/description/tool/1.1.0"
            class="org.eclipse.sirius.viewpoint.description.tool.ToolPackage"
            genModel="model/viewpoint.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated viewpoint -->
      <package
            uri="http://www.eclipse.org/sirius/description/filter/1.1.0"
            class="org.eclipse.sirius.viewpoint.description.filter.FilterPackage"
            genModel="model/viewpoint.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated viewpoint -->
      <package
            uri="http://www.eclipse.org/sirius/description/validation/1.1.0"
            class="org.eclipse.sirius.viewpoint.description.validation.ValidationPackage"
            genModel="model/viewpoint.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated viewpoint -->
      <package
            uri="http://www.eclipse.org/sirius/description/audit/1.1.0"
            class="org.eclipse.sirius.viewpoint.description.audit.AuditPackage"
            genModel="model/viewpoint.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated viewpoint -->
      <package
            uri="http://www.eclipse.org/sirius/description/concern/1.1.0"
            class="org.eclipse.sirius.viewpoint.description.concern.ConcernPackage"
            genModel="model/viewpoint.genmodel"/>
   </extension>

  <extension
        point="org.eclipse.emf.ecore.protocol_parser">
     <parser
           class="org.eclipse.sirius.tools.internal.resource.InMemoryResourceFactoryImpl"
           protocolName="memory">
     </parser>
  </extension>
  
  <extension
        point="org.eclipse.core.contenttype.contentTypes">
     <file-association
           content-type="org.eclipse.emf.compare.content.type"
           file-extensions="odesign"
           file-names="*"/>
  </extension>

  <extension
         point="org.eclipse.emf.validation.constraintBindings">
      <clientContext
            default="true"
            id="org.eclipse.sirius.context">
         <selector class="org.eclipse.sirius.tools.internal.validation.Context"/>
      </clientContext>
      <binding
            context="org.eclipse.sirius.context"
            category="org.eclipse.sirius.category"/>
  </extension>  
  
  <extension
         point="org.eclipse.emf.validation.constraintProviders"> 
         <category
		id="org.eclipse.sirius.category"
		mandatory="false"
		name="Sirius Validation Rules">   
			<![CDATA[Sirius]]>
	</category>		
	
      <constraintProvider
            cache="false"            
            mode="Batch">
         <package namespaceUri="http://www.eclipse.org/sirius/1.1.0"/>
         <constraints categories="org.eclipse.sirius.category">
            <constraint
                  lang="Java"
                  class="org.eclipse.sirius.tools.internal.validation.constraints.ErrorConstraint"
                  severity="ERROR"
                  mode="Batch"
                  name="Sirius Error"
                  id="org.eclipse.sirius.category.validation.error"
                  statusCode="1">
               <description><![CDATA[Validation Error]]>
               </description>
               <message>
                  <![CDATA[{0}]]>
               </message>               
               <target class="DDiagramElement"/>                                   
            </constraint>
            <constraint
                  lang="Java"
                  class="org.eclipse.sirius.tools.internal.validation.constraints.WarningConstraint"
                  severity="WARNING"
                  mode="Batch"
                  name="Sirius Warning"
                  id="org.eclipse.sirius.category.validation.warning"
                  statusCode="1">
               <description><![CDATA[Validation warning]]>
               </description>
               <message>
                  <![CDATA[{0}]]>
               </message>               
               <target class="DDiagramElement"/>                                   
            </constraint>
            <constraint
                  lang="Java"
                  class="org.eclipse.sirius.tools.internal.validation.constraints.InfoConstraint"
                  severity="INFO"
                  mode="Batch"
                  name="Sirius Info"
                  id="org.eclipse.sirius.category.validation.info"
                  statusCode="1">
               <description><![CDATA[Validation info]]>
               </description>
               <message>
                  <![CDATA[{0}]]>
               </message>               
               <target class="DDiagramElement"/>                                   
            </constraint>
         </constraints>
      </constraintProvider>      
  </extension>
  
  <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            name="Sirius Constraints"
            id="org.eclipse.sirius.constraints"/>
      <constraintProvider
            cache="true"
            mode="Batch">
         <package namespaceUri="http://www.eclipse.org/sirius/1.1.0"/>
         <package namespaceUri="http://www.eclipse.org/sirius/description/1.1.0"/>
         <package
               namespaceUri="http://www.eclipse.org/sirius/description/style/1.1.0">
         </package>
         <constraints categories="org.eclipse.sirius.constraints">
            <constraint
                  lang="Java"
                  class="org.eclipse.sirius.tools.internal.validation.description.constraints.ExistingExpressionVariablesConstraint"
                  severity="ERROR"
                  mode="Batch"
                  name="Valid Variables"
                  id="org.eclipse.sirius.constraints.ValidAcceleoVariable"
                  statusCode="1">
               <description>
                  Invalid variable
               </description>
               <message>
                  The expression {0} of {1} doesn&apos;t accept the {2} variable.
               </message>
            </constraint>
            <constraint
                  lang="Java"
                  class="org.eclipse.sirius.tools.internal.validation.description.constraints.ExistingDomainClassConstraint"
                  severity="ERROR"
                  mode="Batch"
                  name="Valid Domain Classes"
                  id="org.eclipse.sirius.constraints.ValidDomainClass"
                  statusCode="1">
               <description>
                  Invalid Class
               </description>
               <message>
                  The Class {0} doesn&apos;t exist.
               </message>
            </constraint>
            <constraint
                  class="org.eclipse.sirius.tools.internal.validation.description.constraints.MandatoryDomainClassConstraint"
                  id="org.eclipse.sirius.constraints.MandatoryDomainClass"
                  lang="Java"
                  mode="Batch"
                  name="Mandatory Domain Class"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  The Domain Class is mandatory for this element
               </message>
               <description>
                  Validates DomainClass features.
               </description>
            </constraint>
            <constraint
                  class="org.eclipse.sirius.tools.internal.validation.description.constraints.BlankCandidatesExpressionWithRecursiveMappingConstraint"
                  id="org.eclipse.sirius.constraints.BlankCandidatesExpressionWithRecursiveMapping"
                  lang="Java"
                  mode="Batch"
                  name="Blank Candidates Expression With Recursive Mapping"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  The SemanticCandidatesExpression field of {0} doesn''t accept a blank value because it's recursively imported by another ContainerMapping ({1}). This can cause infinite loop, StackOverflowError (except in case of not synchronized mapping).
               </message>
               <description>
                  Validates that there is no blank SemanticCandidatesExpression for a recursive ContainerMapping
               </description>
            </constraint>
            <constraint
                  class="org.eclipse.sirius.tools.internal.validation.description.constraints.ValidInterpretedExpressionConstraint"
                  id="org.eclipse.sirius.constraints.ValidInterpretedExpressionConstraint"
                  lang="Java"
                  mode="Batch"
                  name="Invalid Interpreted Expression"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  Invalid Interpreter Expression
               </message>
               <description>
                  Validates that the typed Interpreter Expression is valid
               </description>
            </constraint>
            <constraint
                  class="org.eclipse.sirius.tools.internal.validation.description.constraints.ValidStyleConstraint"
                  id="org.eclipse.sirius.constraints.ValidStyleConstraint"
                  lang="Java"
                  mode="Batch"
                  name="Valid Style"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  A style is missing for {0}
               </message>
               <description>
                  Validates that the style is set
               </description>
            </constraint>
            <constraint
                  class="org.eclipse.sirius.tools.internal.validation.description.constraints.RequiredEdgeStyleDescriptionSizeExpressionConstraint"
                  id="org.eclipse.sirius.constraints.MissingRequiredEdgeSizeExpressionConstraint"
                  lang="Java"
                  mode="Batch"
                  name="Missing Required Size Expression On Edge Style Description"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  The SizeComputationExpression field of {0} doesn&apos;&apos;t accept a blank value.
               </message>
               <description>
                  Validates that the size computation expression of an EdgeStyleDecription is set
               </description>
            </constraint>
            <constraint
                  lang="Java"
                  class="org.eclipse.sirius.tools.internal.validation.description.constraints.EdgeMappingCycleConstraint"
                  severity="ERROR"
                  mode="Batch"
                  name="Check that EdgeMappings with an EdgeMapping as source or target does not cause cycles."
                  id="org.eclipse.sirius.constraints.EdgeMappingCycle"
                  statusCode="1">
               <description>
                  Check that EdgeMappings with an EdgeMapping as source or target does not cause cycles.
               </description>
               <message>
                  EdgeMappings {0} causes a cycle. You should modify the source or target mapping with an EdgeMapping that causes this cycle.
               </message>
            </constraint>
             <constraint
                  class="org.eclipse.sirius.tools.internal.validation.description.constraints.EAttributeCustomizationAttributeNameCommonToAppliedOnConstraint"
                  id="org.eclipse.sirius.tools.internal.validation.description.constraints.EAttributeCustomizationAttributeNameCommonToAppliedOnConstraint"
                  lang="Java"
                  mode="Batch"
                  name="EAttributeCustomization referenced style descriptions elements conforms to attributeName "
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <description>
                  Check the constraint that EAttributeCustomization.attributeName is the name of a common EAttribute to all referenced style description or a description element owned by a style description through EAttributeCustomization.appliedOn.
               </description>
               <target
                     class="EAttributeCustomization">
               </target>
            </constraint>
            <constraint
                  class="org.eclipse.sirius.tools.internal.validation.description.constraints.EReferenceCustomizationReferenceNameCommonToAppliedOnConstraint"
                  id="org.eclipse.sirius.tools.internal.validation.description.constraints.EReferenceCustomizationReferenceNameCommonToAppliedOnConstraint"
                  lang="Java"
                  mode="Batch"
                  name="EReferenceCustomization referenced style descriptions elements conforms to referenceName "
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <description>
                  Check the constraint that EReferenceCustomization.referenceName is the name of a common EReference to all referenced style description or a description element owned by a style description through EAttributeCustomization.appliedOn or different EReference with the same name and a common type.
               </description>
               <target
                     class="EReferenceCustomization">
               </target>
            </constraint>
            <constraint
                  class="org.eclipse.sirius.tools.internal.validation.description.constraints.VSMElementCustomizationReuseValidConstraint"
                  id="org.eclipse.sirius.tools.internal.validation.description.constraints.VSMElementCustomizationReuseValidConstraint"
                  lang="Java"
                  mode="Batch"
                  name="VSMElementCustomizationReuse validity checking "
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <description>
                  Check the constraint that a VSMElementCustomizationReuse is valid.
               </description>
               <target
                     class="VSMElementCustomizationReuse">
               </target>
            </constraint>
            <constraint
                  class="org.eclipse.sirius.tools.internal.validation.description.constraints.RepresentationExtensionDescriptionRegexConstraint"
                  id="org.eclipse.sirius.tools.internal.validation.description.constraints.RepresentationExtensionDescriptionRepresentationNameConstraint"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="Representation extension description representation name validation"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
            </constraint>
            <constraint
                  class="org.eclipse.sirius.tools.internal.validation.description.constraints.EmptyAppliedOnListConstraint"
                  id="org.eclipse.sirius.tools.internal.validation.description.constraints.EmptyAppliedOnListConstraint"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="Empty appliedOn list validation"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
   
   
   
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            name="Sirius Constraints"
            id="org.eclipse.sirius.constraints"/>
      <constraintProvider
            cache="true"
            mode="Batch">
         <package namespaceUri="http://www.eclipse.org/sirius/description/tool/1.1.0"/>
         <constraints categories="org.eclipse.sirius.constraints">
            <constraint
                  lang="Java"
                  class="org.eclipse.sirius.tools.internal.validation.description.constraints.PreconditionForDndToolsConstraint"
                  severity="WARNING"
                  mode="Batch"
                  name="Check that drag and drop tools which accept the model as source have an explicit precondition."
                  id="org.eclipse.sirius.constraints.PreconditionForDndTools"
                  statusCode="1">
               <description>
                  Drag and drop tools which accept Model or Both as source should have an explicit precondition.
               </description>
               <message>
                  The Drop tool {0} accepts arbitrary elements from the Model Content view as drag source. You should specify a precondition to validate the nature of the dragged element.
               </message>
            </constraint>            
         </constraints>
      </constraintProvider>
   </extension>
  
  <extension
        point="org.eclipse.sirius.mmdescriptor">
     <descriptorprovider
           class="org.eclipse.sirius.business.internal.extender.EcoreIntrinsicMetamodelDescriptorProvider">
     </descriptorprovider>
  </extension>
  
  <extension
        point="org.eclipse.emf.ecore.protocol_parser">
     <parser
           class="org.eclipse.sirius.tools.internal.uri.ViewpointProtocolParser"
           protocolName="viewpoint">
     </parser>
  </extension>
  
 <extension
       point="org.eclipse.emf.ecore.uri_mapping">
    <mapping
          source="environment:/viewpoint"
          target="platform:/plugin/org.eclipse.sirius/model/Environment.xmi">
    </mapping>
 </extension>

  <!-- Standard External Java Actions usable from VSMs. --> 
  <extension point="org.eclipse.sirius.externalJavaAction">
     <javaActions id="org.eclipse.sirius.business.api.action.moveElement"
                  actionClass="org.eclipse.sirius.business.api.action.MoveElementInListAction" />
     <javaActions id="org.eclipse.sirius.business.api.action.printVariables"
                  actionClass="org.eclipse.sirius.business.api.action.PrintInterpreterVariablesAction" />
  </extension>
  <extension
        id="LocalSessionEditingDomainFactory"
        name="Local Session EditingDomain Factory"
        point="org.eclipse.sirius.common.editingDomainFactory">
     <editingDomainFactory
           class="org.eclipse.sirius.business.internal.session.LocalSessionEditingDomainFactory">
     </editingDomainFactory>
  </extension>
  <extension
        id="nature.modelingproject"
        point="org.eclipse.core.resources.natures">
     <runtime>
        <run
              class="org.eclipse.sirius.business.api.modelingproject.ModelingProject">
        </run>
     </runtime>
  </extension>  
  <extension point="org.eclipse.sirius.runtimeLogger">
     <logger
           class="org.eclipse.sirius.business.internal.logger.MarkerRuntimeLoggerImpl">
     </logger>
  </extension>

   <extension
         id="viewpointMarker"
         name="Sirius Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <attribute
            name="viewpointURIMarker">
      </attribute>
      <persistent value="true"/>
   </extension>
   <extension
         id="modelingMarker"
         name="Modeling Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.sirius.viewpointMarker"/>
      <persistent value="true"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.eclipse.sirius.viewpoint.description.util.DescriptionResourceFactoryImpl"
            type="odesign">
      </parser>
   </extension>
      <extension
         point="org.eclipse.sirius.migrationParticipant">
      <participant
            class="org.eclipse.sirius.business.internal.migration.DefaultRepresentationsFileMigrationParticipant"
            kind="RepresentationsFile">
      </participant>
      <participant
            class="org.eclipse.sirius.business.internal.migration.RemoveOldMigrationAnnotations"
            kind="RepresentationsFile">
      </participant>
      <participant
            class="org.eclipse.sirius.business.internal.migration.NsURIMigrationParticipant"
            kind="RepresentationsFile">
      </participant>
      <participant
            class="org.eclipse.sirius.business.internal.migration.description.DefaultVSMMigrationParticipant"
            kind="VSM">
      </participant>
      <participant
            class="org.eclipse.sirius.business.internal.migration.description.RemoveOldMigrationAnnotations"
            kind="VSM">
      </participant>
      <participant
            class="org.eclipse.sirius.business.internal.migration.description.ListContainerAttributeMigrationParticipant"
            kind="VSM">
      </participant>
      <participant
            class="org.eclipse.sirius.business.internal.migration.description.OptionalLayersVSMMigrationParticipant"
            kind="VSM">
      </participant>
       <participant
            class="org.eclipse.sirius.business.internal.migration.NsURIMigrationParticipant"
            kind="VSM">
      </participant>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated contribution -->
      <package
            uri="http://www.eclipse.org/sirius/description/contribution/1.0.0"
            class="org.eclipse.sirius.description.contribution.ContributionPackage"
            genModel="model/contribution.genmodel"/>
   </extension>

</plugin>
